<!-- Header Starts -->
<app-navbar></app-navbar>
<!-- Header Ends -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
  data-image-src="assets/images/play.jpg"
  style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
<div class="container">
 <div class="padding-top-30 padding-bottom-70">
     <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">Documentación</h2>
 </div>
</div>
</section>

<div class="container">

	<div class="pdf">
		<h4>Documentos</h4>
		<div class="col-md-12 col-sm-12 text-justify padding-bottom-30 padding-top-30">
			<p>
				<strong>
					Documentación de ayuda a la redacción de los Planos de Seguridad 
					y Salvamento de las playas y ZBM catalogadas como libres 
					o peligrosas con Grado de Protección moderado o alto.
				</strong>
			</p>
		<div class="padding-bottom-30"></div>                        
		<a href="./assets/documents/Guia_Tecnica_PSS .pdf" 
			target="blank">
			<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Pdflogogt.png" class="icon-pdf"> -->
			<strong> Gu&iacute;a T&eacute;cnica Plan Seguridad y Salvamento en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
		</a>
		<p>
			DECRETO 116/2018, de 30 de julio, por el que se regulan medidas para la aplicación de las normas e instrucciones para la seguridad humana y para la coordinación de las emergencias ordinarias y de protección civil en playas y otras zonas de baño marítimas de la Comunidad Autónoma de Canarias.
		</p>
		<a href= "./assets/documents/Plantilla_PSS.doc" 
			target="blank">
			<!-- <img src="./assets/images/DOC_Icon.png" class="icon-pdf"> -->
			<strong>Plantilla del Plan de Seguridad y Salvamento (DOC) </strong>
		</a>
		<br>
	
		<a href="./assets/documents/Plantilla_PSS.odt"
			target="blank">
			<!-- <img src="https://cdn3.iconfinder.com/data/icons/cad-file-extension-solid/64/1_OPT-512.png" class="icon-pdf">  -->
			<strong>Plantilla del Plan de Seguridad y Salvamento (OPT)</strong>
		</a>
		<br>
		<br>

		<a href="./assets/documents/PSS_Tipo.pdf" 
			target="blank">
			<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Pdflogogt.png" class="icon-pdf"> -->
			<strong>Plan de Seguridad y Salvamento (Plan Tipo para Playas y Zonas de Ba&ntilde;o con Grado de protecci&oacute;n alto y moderado)</strong>
		</a>
			<p>
				Es objetivo del presente Plan tipo de Seguridad y Salvamento en Playas y Zonas de Baño Marítimas, ser una herramienta para los profesionales que vayan a redactar los Planes de Seguridad y Salvamento en Playas y Zona de Baño Marítimas, determinados por el artículo 5 del DECRETO 116 / 2018 dando orientaciones para su redacción.
			</p>
		<br>
		<a href="./assets/documents/Guia_Revision_PSS.pdf" 
			target="blank">
			<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Pdflogogt.png" class="icon-pdf">  -->
			<strong>Gu&iacute;a Metodol&oacute;gica para la Revisi&oacute;n de Plan Seguridad y Salvamento en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
		</a>
			<p>
				La presente Guía Metodológica tiene por objeto facilitar y centrar los elementos de análisis de los Planes de Seguridad y Salvamento, con el objeto de cumplir con las prescripciones recogidas en el Articulo 6.4 del Decreto 116/2018.
			</p>
		<br>
		<a href="./assets/documents/Guia_tramite.pdf" 
		target="blank">
		<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Pdflogogt.png" class="icon-pdf">  -->
		<strong>Gu&iacute;a de Tramitaci&oacute;n electr&oacute;nica de los Planes de Seguridad y Salvamento</strong>
		</a>
			<p>
				Para la inscripción en el Registro Autonómico de Planes de Seguridad y Salvamento en Playas y Zonas de Baño Marítimas debe dirigirse a la sede electrónica del Gobierno de Canarias, en el siguiente enlace Registro.
			</p>
		</div>

	</div>
</div>   
