<!-- catalogo Header -->
	<!-- Header Starts -->
    <app-navbar></app-navbar>
	<!-- Header Ends -->

<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="top20 bottom10 text-color-white text-center">
                Catálogo de Playas y Zonas de Baño Marítimo de Canarias</h2>
        </div>  
    </div>
</section>
<!-- catalogo Body -->
<div id="portfolio" class="padding-top-70 padding-bottom-30">
    <div class="col-md-12 col-sm-12 text-justify padding-bottom-30">
        <p>
            <!-- <strong>Cat&aacute;logo de Playas y otras zonas de Ba&ntilde;o Mar&iacute;timas de Canarias, como instrumento al servicio 
                    de las diferentes Administraciones P&uacute;blicas y de las ciudadanía en general, acorde al art&iacute;culo 4 del DECRETO 
                    116/2018, de 30 de julio, por el que se regulan medios para la aplicaci&oacute;n de las normas e instrucciones para 
                    la seguridad humana y para la coordinaci&oacute;n de las emergencias ordinarias y de protecci&oacute;n civil en playas 
                    y otras zonas de ba&ntilde;o mar&iacute;timas de las Comunidad Aut&oacute;noma de Canarias.
            </strong> -->
            <strong>Cat&aacute;logo de Playas y otras zonas de Ba&ntilde;o Mar&iacute;timas de Canarias, como instrumento al servicio 
                de las diferentes Administraciones P&uacute;blicas y de las ciudadanía en general por el que se regulan medios para la aplicaci&oacute;n de las normas e instrucciones para 
                la seguridad humana y para la coordinaci&oacute;n de las emergencias ordinarias y de protecci&oacute;n civil en playas 
                y otras zonas de ba&ntilde;o mar&iacute;timas de las Comunidad Aut&oacute;noma de Canarias.
        </strong>
        </p>                        
    </div>
    <div class="col-md-12">
        <iframe 
            width="100%" 
            height="850" 
            title="Playas por Municipio"
            src="https://gesplangis.es/arcgis/apps/webappviewer/index.html?id=1de5084df09c4dffb8f5f260503cea60&amp;zoom=true&amp;scale=true&amp;disable_scroll=true&amp;theme=light"></iframe>
    </div>    
    <br>
        <div class="container">
            <div class="pdf">
                <a href="https://gesplanmedia.s3.amazonaws.com/PDF/MANUAL%20USO%20CATALOGO%20DE%20PLAYAS%20Y%20ZONAS%20DE%20BA%C3%91O%20MARITIMAS%20DE%20CANARIAS.pdf
                " target="blank"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Pdflogogt.png" class="icon-pdf">
                <strong> Manual de uso del Cat&aacute;logo</strong>
                </a>        

                <button class="code" (click)="copyText()">
                    <b>
                        <span class="lt">&lt;</span>
                        <span> / </span>
                        <span style="color:#FE7A1C; padding-top: 10px;">&gt;</span>
                    </b>
                </button>

            </div>


        </div>   
</div>
<footer id="site-footer" class="padding_half footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <p>
                    <!-- <strong><i>Cat&aacute;logo de Playas y otras zonas de Ba&ntilde;o Mar&iacute;timas de Canarias, como instrumento al servicio 
                           de las diferentes Administraciones P&uacute;blicas y de las ciudadanía en general, acorde al art&iacute;culo 4 del DECRETO 
                           116/2018, de 30 de julio, por el que se regulan medios para la aplicaci&oacute;n de las normas e instrucciones para 
                           la seguridad humana y para la coordinaci&oacute;n de las emergencias ordinarias y de protecci&oacute;n civil en playas 
                           y otras zonas de ba&ntilde;o mar&iacute;timas de las Comunidad Aut&oacute;noma de Canarias.</i>
                    </strong> -->
                    
                </p>                        
            </div>
        </div>
    </div>
</footer>
<!-- catalogo Body End -->