<!-- clasificacion Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">clasificación y grado
                de protección</h2>
        </div>
    </div>
</section>
<!-- clasificacion Header End -->

<!-- informacion 1 -->
<section class="blog-body features-bg paddingtopbottom30px">
    <div class="container">
        <div class="row">
            <!-- esquema -->
            <div class="col-md-12 col-sm-12">
                <div class="blog-listing-outer padding-top-30 sm-padding-bottom30px">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner team-bg">
                        <div class="blog-listing-image">
                            <img src="assets/images/blog-listing-2.jpg" class="width-100" alt="blog-img">
                        </div>
                        <div class="blog-listing-heading padding-top-35">
                            <h5 class="font-style-1 font-weight-600">
                                <a href="javascript:void(0)" class="text-color-grey-646464">Esquema de la asistencia
                                    técnica de InfoPlayasCanarias</a></h5>
                        </div>
                        <div class="blog-listing-date padding-top-10">
                            <div class="font-style-1-u blog-date text-capitalize">4 July, 2018</div>
                        </div>
                        <div class="blog-listing-detail padding-top-35">
                            <p class="coffee-p text-color-grey-646464">
                                Catálogo General de Playas y otras Zona de Baño Marítimas de Canarias: Previsiones de
                                Clasificación y posibles Grados de Protección de Playas y otras Zona de Baño Marítimas
                                de Canarias.
                                Identificación de las playas y otras zonas de baño marítimas de su término municipal,
                                que formarán parte del Catálogo General de Playas y otras Zonas de Baño Marítimas de
                                Canarias.
                            </p>
                        </div>
                    </div>
                    <div class="blog-listing-footer-outer">
                        <div class="row">
                            <div class="col-md-6 col-xs-7">
                                <!-- Footer LISTING Tags -->
                                <div class="font-style-1-u blog-listing-footer-inner-tags">
                                    <p class="text-capitalize">Publicación: Descargar Catálogo</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-5">
                                <!-- Footer LISTING social icon -->
                                <div class="blog-listing-footer-inner-socialicons text-center">
                                    <ul class="team-social-icon">
                                        <li><a href="javascript:void(0)"><i class="facebook fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="twitter fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="google fa fa fa-google-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- esquema -->
<section class="padding-top-70 padding-bottom-30">
    <div class="container">
        <div class="col-md-4 testimonial">
            <div class="information-written-data">
                <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span
                        class="green-color"> glosario</span> <br> tecnicismos</h2>
                <!-- Swiper -->
            </div>
        </div>
        <div class="row">
            <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
                <div class="swiper-wrapper cursor">
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box1 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Código de identificación de las Playas y otras Zonas de Baño
                                    Marítimas,
                                    del Ministerio de Agricultura y Pesca, Alimentación y Medio Ambiente.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/swiper_1.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">id mapama</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://sig.mapama.es/guia-playas/">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box2 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Proin sagittis elementum odio, sed blandit sapien mattis sed.
                                    Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et
                                    vulputate sem malesuada.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/testimonial2.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">kate marrassiaa</h6>
                                    <p class="testimonial-p blue-color text-capitalize">illustrator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box3 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Nulla laoreet sed enim in pulvinar. Nunc nec mauris sed lorem
                                    scelerisque sagittis. Vivamus mauris nibh, volutpat suscipit posuere sit amet,
                                    vehicula.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/testimonial3.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">sam billings</h6>
                                    <p class="testimonial-p blue-color text-capitalize">web designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- esquema -->

<!-- clasificacion Body -->
<div id="portfolio" class="paddingtopbottom50px">
    <div class="container">
        <div class="col-md-6 portfolio-wide paddingleft25px">
            <div class="information-written-data wow fadeIn">
                <h2
                        class="border-color-blue-3 no-margin text-color-grey ">
                    {{(localName ? localName : 'seleccione playa') }}
                    <br> <span [hidden]="localName && localName.length > 20"
                               class="green-color font-style-1">Editor</span></h2>
            </div>
        </div>
        <p-overlayPanel #op2>
            <label>Zonas: {{numberOfBeachs}}</label>
        </p-overlayPanel>
        <div class="row">
            <div id="js-filters-mosaic-flat" class="col-lg-offset-6 cbp-l-filters-buttonCenter">
                <div pTooltip="Inventario de playas y otras zonas de baño" tooltipPosition="top" (mouseout)="op2.hide()"
                     (click)="setForm('inventario');op2.show($event)" data-filter=".none"
                     class="cbp-filter-item text-capitalize">
                    inventario
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <div pTooltip="Clasificación de las playas de USO PROHIBIDO o provisionalmente en LIBRES/PELIGROSAS"
                     tooltipPosition="top" (mouseout)="op2.hide()" (click)="setForm('clasificacion');op2.show($event)"
                     data-filter=".none"
                     class="cbp-filter-item text-capitalize">
                    clasificación
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <!--                TODO hay que poner el por defecto que sería afluencia-->
                <div *ngIf="localClasification && localClasification !== 'USO PROHIBIDO'" pTooltip="Determinación del grado de protección en función del uso y condiciones del entorno"
                     tooltipPosition="top" (click)="setForm('incidencias');op2.show($event)" data-filter=".protection"
                     class="cbp-filter-item text-capitalize">
                    protección
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <div pTooltip="Presentación de resultados de la clasificación y grado de protección"
                     tooltipPosition="top" (click)="setForm('resultados');op2.show($event)" data-filter=".result"
                     class="cbp-filter-item text-capitalize">
                    resultados
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                <div class="cbp-item protection">
                    <div class="cbp-caption">
                        <p-tabMenu [model]="itemsProtection" [activeItem]="itemsProtection[2]">
                            <ng-template pTemplate="item" let-item let-i="index">
                                <div (click)="selectFormProtection(item,i)"
                                     style="position: relative; text-align: center; ">
                                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon"
                                         style="font-size: 2em"></div>
                                    <div class="ui-menuitem-text">
                                        {{item.label}}
                                    </div>
                                    <!-- <a tabindex="0" class="ui-menuitem-icon" (click)="closeItemRisks($event, i)"
                                       style="position: absolute; right: -1em; top: -.5em; padding: 0" *ngIf="i !== 0">
                                        <span class="pi pi-times"></span>
                                    </a> -->
                                </div>
                            </ng-template>
                        </p-tabMenu>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row paddingleft15px paddingright15px">
            <app-map-editor
                    (beachId)="receiveBeachId($event)"
                    (localName)="receiveLocalName($event)"
                    (nZones)="receiveNzones($event)"
                    (clasification)="receiveClasification($event)"
                    [zoom]="mapZoomLevel"
                    [mapHeight]="mapHeightContainer"
                    [selectForm]="actualForm"
                    [urlInfoMap]="'https://gesplangis.es/arcgis/apps/webappviewer/index.html?id=d570f2faba45491d9d0927fc29f97dc2'">
            </app-map-editor>
        </div>

        <div class="row"></div>
    </div>
</div>
<!-- clasificacion Body End -->
