<!-- clasificacion Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">clasificación y grado
                de protección</h2>
        </div>
    </div>
</section>
<!-- clasificacion Header End -->

<!-- informacion 1 -->
<section class="blog-body features-bg paddingtopbottom30px">
    <div class="container">
        <div class="row">
            <!-- esquema -->
            <div class="col-md-12 col-sm-12">
                <div class="blog-listing-outer padding-top-30 sm-padding-bottom30px">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner team-bg">
                        <div class="blog-listing-image">
                            <img src="assets/images/blog-listing-2.jpg" class="width-100" alt="blog-img">
                        </div>
                        <div class="blog-listing-heading padding-top-35">
                            <h5 class="font-style-1 font-weight-600">
                                <a href="javascript:void(0)" class="text-color-grey-646464">Esquema de la asistencia
                                    técnica de InfoPlayasCanarias</a></h5>
                        </div>
                        <div class="blog-listing-date padding-top-10">
                            <div class="font-style-1-u blog-date text-capitalize">4 July, 2018</div>
                        </div>
                        <div class="blog-listing-detail padding-top-35">
                            <p class="coffee-p text-color-grey-646464">
                                Catálogo General de Playas y otras Zona de Baño Marítimas de Canarias: Previsiones de
                                Clasificación y posibles Grados de Protección de Playas y otras Zona de Baño Marítimas
                                de Canarias.
                                Identificación de las playas y otras zonas de baño marítimas de su término municipal,
                                que formarán parte del Catálogo General de Playas y otras Zonas de Baño Marítimas de
                                Canarias.
                            </p>
                        </div>
                    </div>
                    <div class="blog-listing-footer-outer">
                        <div class="row">
                            <div class="col-md-6 col-xs-7">
                                <!-- Footer LISTING Tags -->
                                <div class="font-style-1-u blog-listing-footer-inner-tags">
                                    <p class="text-capitalize">Lorem ipsum color</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-5">
                                <!-- Footer LISTING social icon -->
                                <div class="blog-listing-footer-inner-socialicons text-center">
                                    <ul class="team-social-icon">
                                        <li><a href="javascript:void(0)"><i class="facebook fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="twitter fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="google fa fa fa-google-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- esquema -->
<section class="padding-top-70 padding-bottom-30">
    <div class="container">
        <div class="col-md-4 testimonial">
            <div class="information-written-data">
                <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span
                    class="green-color"> glosario</span> <br> tecnicismos</h2>
                <!-- Swiper -->
            </div>
        </div>
        <div class="row">
            <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
                <div class="swiper-wrapper cursor">
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box1 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Código de identificación de las Playas y otras Zonas de Baño
                                    Marítimas. Consejer&iacute;a de Transici&oacute;n Ecol&oacute;gica, Lucha Contra en
                                    Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/swiper_1.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">id mapama</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://sig.mapama.es/guia-playas/">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box2 features-bg text-center padding70px35px">
                                <p class="testimonial-p">C&oacute;digo de identificaci&oacute;n de Playas y otras Zonas
                                    de Baño Mar&iacute;timas, del Gobierno de Canarias. Consejer&iacute;a de Transici&oacute;n
                                    Ecol&oacute;gica,
                                    Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/QRorg.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">ID Gobierno de Canarias</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box2 features-bg text-center padding70px35px">
                                <p class="testimonial-p">A los efectos del Proyecto de Decreto 116/2018 (Art&iacute;culo
                                    2),aquellas balizadas como tales, as&iacute; como los lugares p&uacute;blicos de
                                    baño en la zona de mar
                                    contigua a las playas o a otros lugares de costa en los que el baño no est&eacute;
                                    expresamente prohibido por la Administraci&oacute;n competente.
                                    Cuando no exista balizamiento se entender&aacute; que dicha zona abarca la franja de
                                    mar contigua con un ancho de 200 metros desde la playa y de 50 metros desde el resto
                                    de la costa.
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/swimmer-solid.svg" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">Otras Zonas de Baño Mar&iacute;timas</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.gobiernodecanarias.org/boc/2018/152/002.html">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box3 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Frente de la playa de arena que se puede usar para el ocio y
                                    baño, descrita por la suma de la zona h&uacute;meda y la zona seca.
                                    Editor: Gobierno de Canarias. Consejer&iacute;a de Transici&oacute;n Ecol&oacute;gica,
                                    Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/umbrella-beach-solid.svg" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">Superficie &uacute;til</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- esquema -->

<!-- clasificacion Body -->
<div id="portfolio" class="paddingtopbottom50px">
    <div class="container">
        <div class="col-md-6 portfolio-wide paddingleft25px">
            <div class="information-written-data wow fadeIn">
                <h2
                    class="border-color-blue-3 no-margin text-color-grey ">
                    {{(localName ? localName : 'seleccione playa') }}
                    <br> <span [hidden]="localName && localName.length > 20"
                               class="green-color font-style-1">Editor</span></h2>
            </div>
        </div>
        <p-overlayPanel #op2>
            <label>Zonas: {{numberOfBeachs}}</label>
        </p-overlayPanel>
        <div class="row">
            <div id="js-filters-mosaic-flat" class="col-lg-offset-6 cbp-l-filters-buttonCenter">
                <div pTooltip="Inventario de playas y otras zonas de baño" tooltipPosition="top" (mouseout)="op2.hide()"
                     (click)="setForm('inventario');op2.show($event)" data-filter=".none"
                     class="cbp-filter-item text-capitalize">
                    inventario
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <div id="clasificationFilterMenu"
                     pTooltip="Clasificación de las playas de USO PROHIBIDO o provisionalmente en LIBRES/PELIGROSAS"
                     tooltipPosition="top" (mouseout)="op2.hide()" (click)="setForm('clasificacion');op2.show($event)"
                     data-filter=".clasification"
                     class="cbp-filter-item text-capitalize">
                    clasificación
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <div id="protectionFilterMenu"
                     pTooltip="Determinación del grado de protección en función del uso y condiciones del entorno"
                     tooltipPosition="top" (click)="setForm('protection');op2.show($event)" data-filter=".protection"
                     class="cbp-filter-item text-capitalize">
                    protección
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
                <div id="resultsFilterMenu"
                     pTooltip="Presentación de resultados de la clasificación y grado de protección"
                     tooltipPosition="top" (click)="setForm('resultados');op2.show($event)" data-filter=".result"
                     class="cbp-filter-item text-capitalize">
                    resultados
                    <!--                    <div class="cbp-filter-counter"></div>-->
                </div>
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                <div style="width: 100%;" class="cbp-item protection">
                    <div class="cbp-caption">
                        <p-tabMenu [model]="itemsProtection" [activeItem]="itemsProtection[0]">
                            <ng-template pTemplate="item" let-item let-i="index">
                                <div (click)="selectFormProtection(item,i)"
                                     style="position: relative; text-align: center; ">
                                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon"
                                         style="font-size: 2em"></div>
                                    <div class="ui-menuitem-text">
                                        {{item.label}}
                                    </div>
                                </div>
                            </ng-template>
                        </p-tabMenu>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item result">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/images/gallery3.jpg" alt="project">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="plus">
                                        <img src="assets/images/plus-sign.png" alt="sign">
                                    </div>
                                    <div class="cbp-l-caption-title">creative art work</div>
                                    <br>
                                    <a href="assets/images/gallery3.jpg"
                                       class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                       data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row paddingleft15px paddingright15px">
            <app-map-editor
                    (beachId)="receiveBeachId($event)"
                    (localName)="receiveLocalName($event)"
                    (nZones)="receiveNzones($event)"
                    (clasification)="receiveClasification($event)"
                    (lastChangeTracking)="receiveLastChangeTracking($event)"
                    [zoom]="mapZoomLevel"
                    [mapHeight]="mapHeightContainer"
                    [selectForm]="actualForm"
                    [urlInfoMap]="'https://gesplangis.es/arcgis/apps/webappviewer/index.html?id=d570f2faba45491d9d0927fc29f97dc2'">
            </app-map-editor>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapse1"
                                               aria-expanded="false" class="collapsed">carga poblacional
                        de {{municipio.ayuntamiento}} {{cargaPoblacional | number:'':'es-ES'}}</a></h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="col-md-12 cart_table">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="darkcolor">Población residente</th>
                                        <th class="darkcolor">Plazas ofertadas</th>
                                        <th class="darkcolor">Ocupación</th>
                                        <th class="darkcolor">Población turística</th>
                                        <th class="darkcolor">Total</th>
                                        <th class="darkcolor">Valor de Peligrosidad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{municipio.population | number:'1.0-0'}}</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{municipio.beds | number:'1.0-0'}}</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{municipio.occupation | number:'1.2-2':'es-ES'}}
                                                %</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{municipio.beds * municipio.occupation * 0.01 | number:'1.0-0'}}</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{cargaPoblacional | number:'1.0-0'}}</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey text-center">{{DangerPopulationLevel}}</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="apply_coupon clearfix">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 coupon">
                                        <p><b>Plazas ofertadas:</b> plazas hoteleras y extrahoteleras
                                            (apartamentos) ofertadas por el municipio. En caso de que el ISTAC incluya
                                            los datos del
                                            municipio consultado en las plazas del resto de la isla, se computarán para
                                            éste las plazas a razon del 5 por mil de la población del municipio. Es una
                                            media observada al dividir el total de la población de estos municipios
                                            entre sus plazas ofertadas.
                                            Esta ponderación no afecta al cálculo total del valor de
                                            peligrosidad por carga poblacional al ser municipios con poca población
                                            turistica
                                            respecto del total y a los rangos considerados en la escala.</p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 coupon">
                                        <p><b>Ocupación:</b> tasa de ocupación por plazas se define como la relación
                                            expresada en porcentaje entre el total de las pernoctaciones en un año y el
                                            producto de las plazas hoteleras y extrahoteleras,
                                            excluyendo las camas supletorias, por el número de días de un año.
                                            Para los municipios de poco peso turistico se aplicara el 65 % de tasa de
                                            ocupacion debido al escaso impacto de la poblacion turistica en el computo
                                            total y las escalas en el valor de peligrosidad.</p>
                                    </div>
                                </div>
                                <div class="row padding-top-10">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <img class="img-responsive" src="assets\images\logos\istac.jpg">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p style="padding-top: 20px;"><b>Los datos se obtienen en tiempo real</b>
                                            mediante la consulta al Catálogo de API de
                                            eDatos del <a target="_blank"
                                                          href="http://www.gobiernodecanarias.org/istac/api/">Instituto
                                                Canario de Estadística.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 cart_table padding-top-10">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="darkcolor">Población residente</th>
                                        <th class="darkcolor">Plazas ofertadas</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">Más de 100.000 habitantes</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">5</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">Entre más de 20.000 y 100.000
                                                habitantes</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">3</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">Entre 5.000 y 20.000
                                                habitantes</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">1</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">Menos de 5000 habitantes</h6>
                                        </td>
                                        <td>
                                            <h6 class="font-style-2 text-color-grey">0</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>
    </div>
</div>
<!-- clasificacion Body End -->
