
<!-- clasificacion Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/play.jpg">
  <div class="container">
    <div class="padding-top-30 padding-bottom-70">
      <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">clasificación y grado de protección</h2>
    </div>
  </div>
</section>
<!-- clasificacion Header End -->
<!-- Esquema Body -->
<section id="schema" class="paddingtopbottom100px">
  <div class="container">
    <div class="col-md-6 portfolio paddingleft25px">
      <div class="information-written-data wow fadeIn">
        <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">asistencia <br>
          <span class="green-color font-style-1">infoplayas</span> <span class="font-style-1">técnica</span></h2>
      </div>
    </div>
    <div class="row">
      <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
        <div class="cbp-item web-design graphic ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/esquema.gif" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png"  alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">diagrama de fase</div><br>
                  <a href="assets/images/esquema.png" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="esquema de la asistencia técnica<br>de InfoPlayasCanarias">Ver Grande</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Esquema Body End -->
<!-- Testimonial 1 Starts -->
<section class="padding-top-70 padding-bottom-30">
  <div class="container">
    <div class="col-md-4 testimonial">
      <div class="information-written-data">
        <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span class="green-color"> glosario</span> <br> tecnicismos</h2>
        <!-- Swiper -->
      </div>
    </div>
    <div class="row">
      <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
        <div class="swiper-wrapper cursor">
          <!-- start testimonial item -->
          <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
            <div class="testimonia-block center-col">
              <div class="quote2">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="slider-box1 features-bg text-center padding70px35px">
                <p class="testimonial-p">Código de identificación de las Playas y otras Zonas de Baño Marítimas,
                  del Ministerio de Agricultura y Pesca, Alimentación y Medio Ambiente.</p>
              </div>
              <div class="profile-box">
                <div class="profile-box-img">
                  <img src="assets/images/swiper_1.png" alt="">
                </div>
                <div class="width-100">
                  <h6 class="text-capitalize">id mapama</h6>
                  <a class="testimonial-p blue-color text-capitalize" target="_blank" href="http://sig.mapama.es/guia-playas/">Publicación</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end testimonial item -->
          <!-- start testimonial item -->
          <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
            <div class="testimonia-block center-col">
              <div class="quote2">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="slider-box2 features-bg text-center padding70px35px">
                <p class="testimonial-p">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>
              </div>
              <div class="profile-box">
                <div class="profile-box-img">
                  <img src="assets/images/testimonial2.png" alt="">
                </div>
                <div class="width-100">
                  <h6 class="text-capitalize">kate marrassiaa</h6>
                  <p class="testimonial-p blue-color text-capitalize">illustrator</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end testimonial item -->
          <!-- start testimonial item -->
          <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
            <div class="testimonia-block center-col">
              <div class="quote2">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="slider-box3 features-bg text-center padding70px35px">
                <p class="testimonial-p">Nulla laoreet sed enim in pulvinar. Nunc nec mauris sed lorem scelerisque sagittis. Vivamus mauris nibh, volutpat suscipit posuere sit amet, vehicula.</p>
              </div>
              <div class="profile-box">
                <div class="profile-box-img">
                  <img src="assets/images/testimonial3.png" alt="">
                </div>
                <div class="width-100">
                  <h6 class="text-capitalize">sam billings</h6>
                  <p class="testimonial-p blue-color text-capitalize">web designer</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end testimonial item -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Testimonial 1 Ends -->

<!-- clasificacion Body -->
<div id="portfolio" class="paddingtopbottom50px">
  <div class="container">
    <div class="col-md-6 portfolio paddingleft25px">
      <div class="information-written-data wow fadeIn">
        <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">portfolio <br> <span
                class="green-color font-style-1">creative</span> <span class="font-style-1">work</span></h2>
      </div>
    </div>
    <div class="row">
      <div id="js-filters-mosaic-flat" class="col-lg-offset-7 cbp-l-filters-buttonCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-capitalize">
          all
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".print" class="cbp-filter-item text-capitalize">
          art work
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".web-design" class="cbp-filter-item text-capitalize">
          web
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".graphic" class="cbp-filter-item text-capitalize">
          logos
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".motion" class="cbp-filter-item text-capitalize">
          print media
          <div class="cbp-filter-counter"></div>
        </div>
      </div>
      <app-map-editor></app-map-editor>
    </div>
  </div>
</div>
<!-- clasificacion Body End -->

