
<!-- catalogo Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/play.jpg">
  <div class="container">
    <div class="padding-top-30 padding-bottom-70">
      <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">catálogo de playas</h2>
    </div>
  </div>
</section>
<!-- catalogo Header End -->

<!-- catalogo Body -->
<div id="portfolio" class="paddingtopbottom100px">
  <div class="container">
    <div class="col-md-6 portfolio paddingleft25px">
      <div class="information-written-data wow fadeIn">
        <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">portfolio <br> <span
                class="green-color font-style-1">creative</span> <span class="font-style-1">work</span></h2>
      </div>
    </div>
    <div class="row">
      <div id="js-filters-mosaic-flat" class="col-lg-offset-7 cbp-l-filters-buttonCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-capitalize">
          all
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".print" class="cbp-filter-item text-capitalize">
          art work
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".web-design" class="cbp-filter-item text-capitalize">
          web
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".graphic" class="cbp-filter-item text-capitalize">
          logos
          <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".motion" class="cbp-filter-item text-capitalize">
          print media
          <div class="cbp-filter-counter"></div>
        </div>
      </div>
      <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
        <div class="cbp-item web-design graphic ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery1.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery1.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item print motion">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery2.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery2.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item print motion">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery3.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery3.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item motion graphic ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery4.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery4.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item web-design print ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery5.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery5.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item print motion ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery6.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery6.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item web-design print ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery7.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery7.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-item print graphic ">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery8.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery8.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="web-design cbp-item">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery9.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery9.jpg"
                     class="cbp-lightbox portfolio-img-button btn btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="motion web-design cbp-item">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery10.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery10.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="print cbp-item">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery11.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery11.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="motion web-design cbp-item">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/gallery12.jpg" alt="project">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="plus">
                    <img src="assets/images/plus-sign.png" alt="sign">
                  </div>
                  <div class="cbp-l-caption-title">creative art work</div>
                  <br>
                  <a href="assets/images/gallery12.jpg"
                     class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                     data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
<!-- catalogo Body End -->

