<!-- catalogo Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">catálogo de
                playas</h2>
        </div>
    </div>
</section>
<!-- catalogo Body -->
<div id="portfolio" class="padding-top-70 padding-bottom-30">
    <div class="container">
        <div class="col-md-6 portfolio paddingleft25px">
            <div class="information-written-data wow fadeIn">
                <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">catálogo <br> <span
                        class="green-color font-style-1">de</span> <span class="font-style-1">playas</span></h2>
            </div>
        </div>
        <div class="col-md-12 paddingleft15px paddingright15px padding-top-15">
            <iframe width="1200" height="850" title="Playas por Municipio"
                    src="https://gesplangis.es/arcgis/apps/webappviewer/index.html?id=1de5084df09c4dffb8f5f260503cea60&amp;zoom=true&amp;scale=true&amp;disable_scroll=true&amp;theme=light"></iframe>
        </div>
    </div>
</div>
<!-- catalogo Body End -->

