<ng4-loading-spinner [timeout]="10000" [threshold]="800"></ng4-loading-spinner>
<div id="listPlayas" class="panel-side scroller esri-widget esri-hidden">
    <ul id="ulPlaya">
        <li>Cargando&hellip;</li>
    </ul>
</div>
<div id="mainContainer" [style.height]="mapHeight">
    <div id="viewDiv"></div>
    <div id="legendDiv" class="card custom-widget"></div>
    <div id="infobutton" class="container-fluid esri-widget custom-widget">
        <div class="row paddingtopbottom10px">
            <div class="col-md-12">
                <a data-fancybox data-type="iframe" [href]="setUrlInfoMap()">
                    <i class="pull-left fa fa-info-circle fa-2x"></i><b>Abre mapa detallado</b></a>
            </div>
        </div>
    </div>
    <div id="info" class="container-fluid esri-widget custom-widget esri-hidden">
        <img src="assets/images/logos/logo.png" class="card-img-top"/>
        <div class="card-body">
            <p id="txtSelecciona" class="card-text">Seleccione Playa/ZBM</p>
        </div>
    </div>
    <div id="formContainer" class="esri-hidden scroller">
        <!--        formulario de peligrosidad-->
        <div [hidden]="selectForm !=='clasificacion'">
            <form class="esri-pad" [formGroup]="formDanger" (ngSubmit)="onSubmit(formDanger, '1')">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Características de esta zona de baño que representen un <b>GRAVE
                            PELIGRO</b> para la vida humana:</label>
                        <br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="desprendimientos" onLabel="Desprendimientos"
                                        offLabel="Desprendimientos" onIcon="desprendimientosIcon"
                                        offIcon="desprendimientosIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="contaminacion" onLabel="Contaminación de las aguas"
                                        offLabel="Contaminación de las aguas" onIcon="contaminacionIcon"
                                        offIcon="contaminacionIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="fauna_marina" onLabel="Peligros por fauna marina"
                                        offLabel="Peligros por fauna marina" onIcon="faunaIcon"
                                        offIcon="faunaIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="corrientes_mareas" onLabel="Corrientes y mareas peligrosas"
                                        offLabel="Corrientes y mareas peligrosas" onIcon="corrientesIcon"
                                        offIcon="corrientesIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="rompientes_olas" onLabel="Zona de rompientes y olas"
                                        offLabel="Zona de rompientes y olas" onIcon="rompientesIcon"
                                        offIcon="rompientesIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label [hidden]="viewNoDanger" class="esri-font" style="color: red; font-weight : bolder">Clasificada
                            USO PROHIBIDO</label>
                        <!--                        <p-dropdown [hidden]="!viewNoDanger" [options]="noDangerOptions" [style]="{'width':'100%'}"-->
                        <!--                                    formControlName="dangerLevel" [required]="viewNoDanger"></p-dropdown>-->
                        <label pTooltip="Valoración definitiva al final del proceso de introducción de datos"
                               [hidden]="!viewNoDanger" class="esri-font"
                               style="color: darkorange; font-weight : bolder">Clasificación provisional LIBRE O
                            PELIGROSA</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="esri-button" type="submit" [disabled]="!formDanger.valid">
                            Guardar
                        </button>
                        <input (click)="sendMessage('noid',getUnselectedMessage(), '-')"
                               onclick="unselectFeature()"
                               type="button"
                               class="esri-button esri-button--secondary"
                               value="Cancelar"/>
                    </div>
                </div>
            </form>
        </div>
        <!--        formulario de incidencias y usos-->
        <div [hidden]="selectForm !=='incidencias'">
            <form class="esri-pad" [formGroup]="formIncidents" (ngSubmit)="onSubmit(formIncidents, '2')">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font" style="font-weight: bolder">Histórico de Incidencias
                            registradas.</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Número de incidentes graves</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               formControlName="incidentes_graves"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Número de incidentes muy graves</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               formControlName="incidentes_mgraves"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Observaciones</label>
                        <textarea [rows]="4" [cols]="80" class="esri-feature-form__input" pInputTextarea
                                  type="textarea" formControlName="incidentes_observaciones"
                                  placeholder="Requerido - Min(4) - permite texto largo"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Valor de peligrosidad</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               [value]="formIncidents.get('incidentes_mgraves').value > 0 ? 5 :
                               formIncidents.get('incidentes_graves').value > 0 ? 3 : 0" disabled="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font" style="font-weight: bolder">Actividades deportivas y de recreo que se
                            realizan y existencia de balizamiento.</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-checkbox label="Actividad deportiva"
                                    formControlName="actividades_deportivas" binary="true"
                                    (mouseenter)="formIncidents.get('actividades_deportivas').value ? op1.show($event) : op1.hide()"
                                    (click)="openSecurityMeasures($event,op1)"
                                    [pTooltip]="formIncidents.get('actividades_deportivas').value ? 'Coexisten actividades deportivas, náuticas y de baño' : 'No existen actividades deportivas'">
                        </p-checkbox>
                    </div>
                </div>
                <!--                panel de peligrosidad-->
                <p-overlayPanel #op1>
                    <div class="form-row">
                        <div class="form-group">
                            <p-toggleButton formControlName="balizamiento" onLabel="Balizamiento"
                                            offLabel="Sin balizamiento"></p-toggleButton>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <p-toggleButton formControlName="actividades_acotadas"
                                            onLabel="Sectores deportivos señalizados"
                                            offLabel="Sin señalización"></p-toggleButton>
                        </div>
                    </div>
                </p-overlayPanel>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Observaciones</label>
                        <textarea [rows]="4" [cols]="80" class="esri-feature-form__input" pInputTextarea
                                  type="textarea" formControlName="deportes_observaciones"
                                  placeholder="Requerido - Min(4) - permite texto largo"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Valor de peligrosidad</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               [value]="calculateDangerLever()" disabled="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="esri-button" type="submit" [disabled]="!formIncidents.valid">
                            Guardar
                        </button>
                        <input (click)="sendMessage('noid',getUnselectedMessage(), '-')"
                               onclick="unselectFeature()"
                               type="button"
                               class="esri-button esri-button--secondary"
                               value="Cancelar"/>
                    </div>
                </div>
            </form>
        </div>
        <!--        formulario de afluencia-->
        <div [hidden]="selectForm !=='afluencia'">
            <form class="esri-pad" [formGroup]="formFlow" (ngSubmit)="onSubmit(formFlow, '4')">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <label style="padding-bottom: 5px;" class="esri-font">Añada períodos de Afluencia</label>
                        <p-calendar appendTo="body" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                    formControlName="dates" selectionMode="range" [readonlyInput]="true"
                                    [locale]="es" dateFormat="dd/mm" [numberOfMonths]="2" [minDate]="minDate"
                                    [maxDate]="maxDate">
                            <p-footer>
                                <div class="col-md-6">
                                    <button [class]="!formFlow.get('flowLevel').value ? 'esri-button esri-button--disabled' : 'esri-button'"
                                            (click)="addPeriod()" [disabled]="!formFlow.get('flowLevel').value">
                                        Añadir
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <p-selectButton
                                            [options]="FlowOptions" formControlName="flowLevel" class="orange-button">
                                    </p-selectButton>
                                </div>
                            </p-footer>
                        </p-calendar>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font" style="font-weight: bolder">Tabla de Períodos de Afluencia añadidos</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button [class]="!formFlow.valid ? 'esri-button esri-button--disabled' : 'esri-button'"
                                type="submit" [disabled]="!formFlow.valid">
                            Guardar
                        </button>
                        <input (click)="sendMessage('noid',getUnselectedMessage(), '-')"
                               onclick="unselectFeature()"
                               type="button"
                               class="esri-button esri-button--secondary"
                               value="Cancelar"/>
                    </div>
                </div>
            </form>
        </div>
        <!--        formulario de entorno fisico y condiciones del mar-->
        <div [hidden]="selectForm !=='entorno'">
            <form class="esri-pad" [formGroup]="formEnvironment" (ngSubmit)="onSubmit(formEnvironment, '3')">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font" style="font-weight: bolder">Condiciones habituales del mar.</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label style="padding-bottom: 5px;" class="esri-font">Peligrosidad</label>
                        <p-dropdown class="esri-feature-form__input" [options]="wavesOptions"
                                    formControlName="peligrosidad_mar" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Valor de peligrosidad</label>
                        <input placeholder="Seleccione arriba estado de la mar" class="esri-feature-form__input"
                               pInputText type="number"
                               [value]="formEnvironment.get('peligrosidad_mar').value" disabled="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font" style="font-weight: bolder">Características físicas y entorno.</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="peligros_anadidos" onLabel="SI existen peligros añadidos"
                                        offLabel="NO existen peligros añadidos"
                                        onIcon="fa fa-exclamation-triangle fa-3x"
                                        offIcon="fa fa-leaf fa-3x"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div [hidden]="!formEnvironment.get('peligros_anadidos').value" class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Indicar peligros</label>
                        <textarea [rows]="4" [cols]="80"
                                  class="esri-feature-form__input" pInputTextarea
                                  type="textarea" formControlName="observaciones"
                                  placeholder="Requerido - Min(4) - permite texto largo"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label style="padding-bottom: 5px;" class="esri-font">Vía de acceso y evacuación</label>
                        <p-dropdown class="esri-feature-form__input" [options]="accessOptions"
                                    formControlName="accesos" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p-radioButton class="esri-font" name="grupocobertura" value=1
                                               label="Con cobertura telefónica"
                                               formControlName="cobertura_telefonica"></p-radioButton>
                            </div>
                            <div class="ui-g-12">
                                <p-radioButton class="esri-font" name="grupocobertura" value=0
                                               label="Sin cobertura telefónica"
                                               formControlName="cobertura_telefonica"></p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Valor de peligrosidad</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               [value]="formEnvironment.get('peligros_anadidos').value ?
                               formEnvironment.get('accesos').value === 'SDIF' ? 1 :
                               formEnvironment.get('accesos').value === 'AVHC' ? 3 : 5 : 0" disabled="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button [class]="!formEnvironment.valid ? 'esri-button esri-button--disabled' : 'esri-button'"
                                type="submit" [disabled]="!formEnvironment.valid">
                            Guardar
                        </button>
                        <input (click)="sendMessage('noid',getUnselectedMessage(), '-')"
                               onclick="unselectFeature()"
                               type="button"
                               class="esri-button esri-button--secondary"
                               value="Cancelar"/>
                    </div>
                </div>
            </form>
        </div>
        <div [hidden]="selectForm !=='inventario'">
            <div id="form" class="esri-component"></div>
            <input type="button" class="esri-button" value="Guardar" id="btnSave"/>
            <input (click)="sendMessage('noid',getUnselectedMessage(), '-')" onclick="unselectFeature()" type="button"
                   class="esri-button esri-button--secondary"
                   value="Cancelar"/>
        </div>
    </div>
</div>
