<div id="listPlayas" class="panel-side scroller esri-widget esri-hidden">
    <ul id="ulPlaya">
        <li>Cargando&hellip;</li>
    </ul>
</div>
<div id="mainContainer" [style.height]="mapHeight">
    <div id="viewDiv"></div>
    <div id="legendDiv" class="card custom-widget"></div>
    <div id="info" class="container-fluid esri-widget custom-widget esri-hidden">
        <img src="assets/images/logos/logo.png" class="card-img-top"/>
        <div class="card-body">
            <p id="txtSelecciona" class="card-text">Seleccione Playa/ZBM</p>
        </div>
    </div>
    <div id="formContainer" class="esri-hidden scroller">
        <!--        formulario de peligrosidad-->
        <div [hidden]="selectForm !=='clasificacion'">
            <form class="esri-pad" [formGroup]="formDanger" (ngSubmit)="onSubmitDanger()">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="corrientes_mareas" onLabel="Corrientes y mareas peligrosas"
                                        offLabel="Sin corrientes y mareas peligrosas" onIcon="corrientesIcon"
                                        offIcon="corrientesIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="rompientes_olas" onLabel="Zona de rompientes y olas"
                                        offLabel="Sin zona de rompientes y olas" onIcon="rompientesIcon"
                                        offIcon="rompientesIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="contaminacion" onLabel="Contaminación de las aguas"
                                        offLabel="Sin contaminación de las aguas" onIcon="contaminacionIcon"
                                        offIcon="contaminacionIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="fauna_marina" onLabel="Peligros por fauna marina"
                                        offLabel="Sin peligros por fauna marina" onIcon="faunaIcon"
                                        offIcon="faunaIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p-toggleButton formControlName="desprendimientos" onLabel="Desprendimientos"
                                        offLabel="Sin desprendimientos" onIcon="desprendimientosIcon"
                                        offIcon="desprendimientosIcon"
                                        [style]="{'width':'100%', 'height': '4.5em','text-align': 'right'}"></p-toggleButton>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="esri-button" type="submit" [disabled]="!formDanger.valid">
                            Guardar
                        </button>
                        <button (click)="sendMessage('noid',getUnselectedMessage())" onclick="unselectFeature()"
                                class="esri-button esri-button--secondary">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--        formulario de incidencias y usos-->
        <div [hidden]="selectForm !=='incidencias'">
            <form class="esri-pad" [formGroup]="formIncidents" (ngSubmit)="onSubmitIncidents()">
                <!--            <div [hidden]="!databaseFail" class="alert alert-danger">{{ERROR}}</div>-->
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Número de incidentes graves</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               formControlName="incidentes_graves"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Número de incidentes muy graves</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               formControlName="incidentes_mgraves"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Valor de peligrosidad</label>
                        <input class="esri-feature-form__input" pInputText type="number"
                               formControlName="val_peligrosidad"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="esri-font">Observaciones</label>
                        <textarea [rows]="4" [cols]="80" class="esri-feature-form__input" pInputTextarea
                                  type="textarea" formControlName="observaciones"
                                  placeholder="Requerido - Min(4) - permite texto largo"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="esri-button" type="submit" [disabled]="!formIncidents.valid">
                            Guardar
                        </button>
                        <button (click)="sendMessage('noid',getUnselectedMessage())" onclick="unselectFeature()"
                                class="esri-button esri-button--secondary">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div [hidden]="selectForm !=='inventario'">
            <div id="form" class="esri-component"></div>
            <input type="button" class="esri-button" value="Guardar" id="btnSave"/>
            <input (click)="sendMessage('noid',getUnselectedMessage())" onclick="unselectFeature()" type="button"
                   class="esri-button esri-button--secondary"
                   value="Cancelar"/>
        </div>
    </div>
</div>
