/*para las filas de la tabla de periodos de afluencias*/
.includeDatesFS {
    background-color: darkorange !important;
    color: #ffffff !important;
}
.includeDatesLB {
    background-color: darkblue !important;
    color: #ffffff !important;
}
