<!-- Login Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/LOPD-1.jpg">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">register
                / login</h2>
        </div>
    </div>
</section>
<!-- Login Header End -->

<!-- Login Body -->
<section class="paddingtopbottom100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="information-written-data bottom30 wow fadeIn">
                    <h2 class="border-color-blue-2 text-color-grey paddingleft25px no-margin text-capitalize">
                        registro <br> <span class="font-style-1 text-color-grey">& </span> <span
                            class="font-style-1 blue-color">login</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bottom40 wow fadeInLeft" data-wow-delay="300ms">
                <div class="login-form equalheight">
                    <div class="col-xs-12">
                        <h6 class="blue-color font-weight-400 no-margin">No tiene cuenta?</h6>
                        <h3 class="text-color-grey font-weight-700 margin-top0 bottom20">Reg&iacute;strese ahora!</h3>
                    </div>
                    <form [formGroup]="RegistrationForm" (ngSubmit)="onRegisterSubmit(RegistrationForm)" class="findus">
                        <div class="form-row">
                            <div class="form-group col-xs-12">
                                <label>EMAIL / NOMBRE DE USUARIO</label>
                                <input type="email" maxlength="100" class="form-control"
                                       formControlName="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-xs-12">
                                <label>PASSWORD</label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>RE-ENTER PASSWORD</label>
                                <input type="password" class="form-control" formControlName="password2">
                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <button type="reset"
                                        class="button green line-height-30px text-center text-capitalize top15">
                                    reset
                                </button>
                                <button type="submit"
                                        class="button gray line-height-30px text-center text-capitalize top15">
                                    submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInRight" data-wow-delay="300ms">
                <div class="login-form equalheight">
                    <div class="col-xs-12">
                        <h6 class="blue-color font-weight-400 no-margin">Ya es miembro</h6>
                        <h3 class="text-color-grey font-weight-700 margin-top0 bottom20">Acceda</h3>
                    </div>
                    <form [formGroup]="frmLogin" (ngSubmit)="onLoginSubmit(frmLogin)" class="findus">
                        <div class="form-row">
                            <div class="form-group col-xs-12">
                                <label>EMAIL / USERNAME</label>
                                <input type="email" maxlength="100" class="form-control"
                                       formControlName="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xs-12">
                                <label>PASSWORD</label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 coupon text-right">
                                <button type="button"
                                        class="button blue active line-height-30px text-center text-capitalize top15">
                                    sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Login Body End -->
