<app-navbar></app-navbar>

<section class="blog-header blog-page-padding-top" data-parallax="scroll"
         data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="top20 bottom10 text-color-white text-center">
               	Estadísticas de personas fallecidas en el mar (acumulado)
            </h2>
        </div>
    </div>
</section>

<div class="col-md-12 col-sm-12 text-justify padding-bottom-10">
	<p>
	  <!-- <strong>
		Herramienta para visualizar estadísticamente datos relativos a los incidentes graves o muy graves registrados
		por CECOES desde el a&ntilde;o 2018.    
	  </strong> -->
	</p>                        
  </div>
  <div class="col-md-12">
	<iframe 
		width="100%" 
		height="850" 
		title="Incidencias graves y fallecidos en medio acuatico en Canarias"
	  	src="https://gesplangis.es/arcgis/apps/dashboards/5d209f5c8e8d49388c5b08a073975740">
	</iframe>
	<div>
	  <a 
		href="https://gesplangis.es/arcgis/apps/dashboards/5d209f5c8e8d49388c5b08a073975740" 
		class=""
		target="_blank"  
	  >
	  Ver en ventana completa
	  </a>

	  <button class="code" (click)="copyClipBoard()">
		<b>
			<span class="lt">&lt;</span>
			<span> / </span>
			<span style="color:#FE7A1C; padding-top: 10px;">&gt;</span>
		</b>
	  </button>
	</div>
  </div>