.pointer {
    cursor: pointer;
}

/*-- Use For Custom Styling --*/
.logo-nav {
    margin-top: 5px;
}
.customProgress .ui-progressbar .ui-progressbar-label {
    color: black;
}

.customProgress .ui-progressbar .ui-progressbar-value {
    background: orange;
}
