<!-- Main Section Starts -->
<section id="home" class="green-box-main-section main-img position-relative">
  <h2 class="displaynone">heading</h2>
  <div class="green-box-setting">
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
      <div class="green-box-outer-text">
        <h1 class="text-color-grey no-margin">Bienvenid@</h1>
        <p class="font-style-1-u green-box-outer-sub-heading text-color-grey">Ayuda para navegar por la web</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="green-background xs-no-background">
          <div class="main-green-box">
            <h1 class="text-capitalize no-margin"><span class="text-color-white xs-text-color-grey">navega</span> <br> <span class="font-style-1 text-color-white xs-text-color-grey">infoplayas</span></h1>
            <p class="line-height-30px font-weight-100 text-color-white xs-text-color-grey">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu,
              lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla.
              Suspendisse potenti. Duis suscipit ultrices maximus.
            </p>
            <div class="main-green-box-button">
              <a href="javascript:void(0)" class="btn btn-rounded btn-large button white bottom10 sm-line-height-30px">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scrolldown blue">
    <a id="scroll" href="#features" class="scroll"></a>
  </div>
</section>

<!-- Main Section ends -->
<div id="features" class="standard-features-transform">
</div>
<!-- 4 boxes Starts  -->
<div class="features-bg">
  <div class="container width-100">
    <div class="row">
      <div class="over-information">
        <div class="four-boxes max-width">
          <div class="information-icon">
            <div class="wordpress">
              <i class="fa fa-laptop"></i>
              <h5 class="font-style-1 font-weight-300 text-capitalize">web design</h5>
              <p class="font-weight-100 bottom0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
              </p>
            </div>
            <div class="joomla">
              <i class="fa fa-edit"></i>
              <h5 class="font-style-1 font-weight-300 text-capitalize">web hosting</h5>
              <p class="font-weight-100">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
              </p>
            </div>
            <div class="drupal">
              <i class="fa fa-laptop"></i>
              <h5 class="font-style-1 font-weight-300">SEO Services</h5>
              <p class="font-weight-100">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
              </p>
            </div>
            <div class="css3">
              <i class="fa fa-edit"></i>
              <h5 class="font-style-1 font-weight-300 text-capitalize">digital marketing</h5>
              <p class="font-weight-100">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 4 boxes ends -->
<!-- Coffee Section Starts  -->
<section class="features-bg padding-bottom-100px" id="design">
  <div class="information-data">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 sm-margin50pxtopbottom sm-marginbottom0 wow fadeInLeft equalheight">
          <div class="information-written-data md-top50 lg-top150">
            <h2 class="font-style-1 font-weight-300 border-color-blue text-color-grey paddingleft25px no-margin"><span class="font-style-1-u ultra-light text-color-grey"> Lets take your </span> <br> <span class="blue-color">Design</span> to Next Level</h2>
            <p class="font-weight-100 line-height-30px text-color-grey-acacac">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu,
              lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla.
              Suspendisse potenti. Duis suscipit ultrices maximus.
            </p>
            <div class="information-data-button">
              <a href="javascript:void(0)" class="btn  btn-rounded btn-large">learn more</a>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight equalheight">
          <div class="information-data-img">
            <div class="coffee-img">
              <img src="assets/images/coffee-cup.png" alt="coffee" class="img-responsive" data-no-retina>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Coffee Section ends -->
