<!-- Main Section Starts -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src=""
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <h2 class="font-size-72px top20 bottom10 text-color-white text-capitalize">
                        {{municipalityName}}</h2>
                </div>
                <div class="col-xs-2">
                    <img pTooltip="Imágenes sin modificar creadas por José Manuel Erbez. Islas Canarias, España - Esta obra está bajo una licencia de Creative Commons - simbolosdecanarias" [src]="authService.getCurrentUser().selectedusername ? 'assets/images/escudos/icon_gesplan.png' :
                     'assets/images/escudos/' + authService.getCurrentUser().username + '.png'"
                         alt="escudo ayuntamiento" class="img-responsive" style="max-height: 100px; max-width: 90px">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Section Starts -->
<section id="welcome" class="main-section z-index100">
    <!--Main Slider-->
    <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container col-md-6">
        <div id="video-bg" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE -->
                <li data-index="rs-01" data-transition="fadeout" data-slotamount="default"
                    data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"
                    data-fsmasterspeed="1500" class="banner-overlay">
                    <!-- MAIN IMAGE -->
                    <div style="z-index: 2 !important" class="rs-background-video-layer" data-forcerewind="on"
                         data-volume="mute"
                         data-videowidth="100%" data-videoheight="100%"
                         data-videomp4="assets/video/diagrama.mp4" data-videopreload="auto"
                         data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9"
                         data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
                    <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                         data-voffset="['100','100','90','90']"
                         data-textalign="['center','center','center','center']" data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;" data-start="180"
                         data-splitin="none" data-splitout="none" data-responsive_offset="on">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Main Slider ends -->
</section>
<!-- Main Section ends -->
<div id="features" class="transform-88px">
</div>
<section class="padding-top-70 padding-bottom-30">
    <div class="container" style="text-align:center;">
        <div class="row">
            <!-- esquema -->
            <div class="col-md-12 col-sm-12">
                <div class="blog-listing-outer padding-top-30 sm-padding-bottom30px">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner team-bg">
                        <div class="blog-listing-heading padding-top-15">
                            <h5 class="font-style-1 font-weight-600">
                                <a class="text-color-grey-646464">Esquema de la asistencia t&eacute;cnica de
                                    InfoPlayasCanarias</a></h5>
                        </div>
                        <div class="blog-listing-detail padding-top-35">
                            <p class="coffee-p text-color-grey-646464" align="center">
                                Catálogo General de Playas y otras Zona de Baño Marítimas de Canarias: Previsiones de
                                Clasificación y posibles Grados de Protección de Playas y otras Zona de Baño Marítimas
                                de Canarias.
                                Identificación de las playas y otras zonas de baño marítimas de su término municipal,
                                que formarán parte del Catálogo General de Playas y otras Zonas de Baño Marítimas de
                                Canarias.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-70 padding-bottom-30">
    <div class="container">
        <div class="col-md-4 testimonial">
            <div class="information-written-data">
                <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span
                    class="green-color"> glosario</span> <br> tecnicismos</h2>
                <!-- Swiper -->
            </div>
        </div>
        <div class="row">
            <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
                <div class="swiper-wrapper cursor">
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box1 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Código de identificación de las Playas y otras Zonas de Baño
                                    Marítimas. Consejer&iacute;a de Transici&oacute;n Ecol&oacute;gica, Lucha Contra en
                                    Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/swiper_1.png" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">Guia de Playas Nacional</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://sig.mapama.es/guia-playas/">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box2 features-bg text-center padding70px35px">
                                <p class="testimonial-p">C&oacute;digo de identificaci&oacute;n de Playas y otras Zonas
                                    de Baño Mar&iacute;timas, del Gobierno de Canarias. Consejer&iacute;a de Transici&oacute;n
                                    Ecol&oacute;gica,
                                    Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/id-card-alt-solid.svg" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">ID Pilotaje Litoral Canario</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box2 features-bg text-center padding70px35px">
                                <p class="testimonial-p">A los efectos del Proyecto de Decreto 116/2018 (Art&iacute;culo
                                    2),aquellas balizadas como tales, as&iacute; como los lugares p&uacute;blicos de
                                    baño en la zona de mar
                                    contigua a las playas o a otros lugares de costa en los que el baño no est&eacute;
                                    expresamente prohibido por la Administraci&oacute;n competente.
                                    Cuando no exista balizamiento se entender&aacute; que dicha zona abarca la franja de
                                    mar contigua con un ancho de 200 metros desde la playa y de 50 metros desde el resto
                                    de la costa.
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/swimmer-solid.svg" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">Otras Zonas de Baño Mar&iacute;timas</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.gobiernodecanarias.org/boc/2018/152/002.html">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                        <div class="testimonia-block center-col">
                            <div class="quote2">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="slider-box3 features-bg text-center padding70px35px">
                                <p class="testimonial-p">Frente de la playa de arena que se puede usar para el ocio y
                                    baño, descrita por la suma de la zona h&uacute;meda y la zona seca.
                                    Editor: Gobierno de Canarias. Consejer&iacute;a de Transici&oacute;n Ecol&oacute;gica,
                                    Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.</p>
                            </div>
                            <div class="profile-box">
                                <div class="profile-box-img">
                                    <img src="assets/images/umbrella-beach-solid.svg" alt="">
                                </div>
                                <div class="width-100">
                                    <h6 class="text-capitalize">Superficie &uacute;til</h6>
                                    <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                       href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                </div>
            </div>
        </div>
    </div>
</section>
