<!-- preloader start -->
  <!-- <div id="preloader">
      <span class="cssload-loader"><span class="cssload-loader-inner"></span></span>
  </div> -->
  <!-- /.end preloader -->

  <!-- >>>>>>>>>>>>>>>> Header Start <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
  <header class="header_area">
      <!-- Header Area Start -->
      <div class="main_header_area animated">
          <div class="container">
              <div class="row">

                  <div class="col-sm-2 col-xs-4">
                      <!-- Logo Area -->
                       <a href="/"><div class="logo_area"></div></a>
                  </div>
                  <div class="col-sm-3 col-xs-5">
                      <!-- Consejeria -->
                      <h5 style="margin-top: 4.6em;color:white"><a title="Consejería de Política Territorial, Sostenibilidad y Seguridad">Consejería de Política Territorial, Sostenibilidad y Seguridad</a></h5>
                  </div>

                  <div class="col-sm-7 col-xs-12">
                      <!-- Menu Area Start -->
                      <div class="main_menu_area">
                          <div class="mainmenu">
                              <nav>
                                  <ul id="nav">
                                      <li class="current_page_item"><a href="#home">Inicio</a></li>
                                      <li><a href="#about">¿Infoplayas bichado?</a></li>
                                      <!--<li><a href="#service">Service</a></li>
                                      <li><a href="#work">Project</a></li>
                                      <li><a href="#advisor">Colaboradores</a></li>-->
                                      <!--<li><a href="#price">Tarifas</a></li>-->
                                      <!--<li><a href="#blog">News</a></li>-->
                                      <li><a href="#contact">Contacto</a></li>
                                      <li><a data-target="#service_details" data-toggle="modal" href="#">Política de privacidad</a></li>

                                      <!--<li><a href="https://gestion.safebeach.es" target="_blank" style="text-transform:none;">Area de Clientes</a></li>-->
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- >>>>>>>>>>>>>>>> Header End <<<<<<<<<<<<<<<< -->

  <!-- >>>>>>>>>>>>>>>> Welcome Area Start <<<<<<<<<<<<<<<< -->
  <section class="welcome_area" id="home">

      <video playsinline autoplay muted loop style="position: absolute;
      z-index: 0;
      min-width: 100%;
      min-height: 100%;
      left: 0px;
      top: 0px;
      overflow: hidden;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 2000ms;">
      <source src="../assets/video/intro2.mp4" type="video/mp4">
      </video>

      <div class="single_slide">
          <div class="slide_text">
              <div class="table">
                  <div class="table_cell">
                      <h2 class="font-poiret-one" ><span style="text-transform:none;">InfoPlayas Canarias</span></h2>
                      <h3>Asistencia técnica para la aplicación de las Medidas de Salvamento</h3>
                      <h3> y Seguridad en Playas y Otras Zonas de Baño Marítimas</h3>
                      <!--<a class="btn btn-default" href="https://gestion.safebeach.es/registro" role="button" target="_blank" style="white-space: inherit;">Disfruta de un mes gratis</a>-->
                  </div>
              </div>
          </div>
      </div>
  </section>

<router-outlet></router-outlet>
