<!--Preloader-->
<div class="loader center-block" id="loader-fade">
    <svg width="100px" height="100px" viewBox="-3 -4 39 39"><polygon fill="#ffffff" stroke="#00bcd4" stroke-width="1" points="16,0 32,32 0,32"></polygon></svg>
</div>
<!-- Preloader ends-->

<div class="wrapper"  id="wrapper">
    <!-- Header Starts -->
    <header class="top-menu">
        <!-- Navigation Starts -->
        <nav class="navbar top40px white-background static-nav box-nav">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:void(0)">
                            <img src="assets/images/logo-3.png" alt="logo"> </a>
                        <button id="menu_bars" type="button" class="toggle-right navbar-toggle collapsed" data-toggle="collapse" data-target="#smallmenu" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>


                    <ul class="nav navbar-nav navbar-right navlinks-outer toggle collapse navbar-collapse" id="smallmenu">
                        <li class="nav-tab">
                            <a href="#home" class="font-style-1 nav-item scroll">home</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#features" class="font-style-1 nav-item scroll">features</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#team" class="font-style-1 nav-item scroll">team</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#portfolio" class="font-style-1 nav-item scroll">portfolio</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#packages" class="font-style-1 nav-item scroll">packages</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#testimonial" class="font-style-1 nav-item scroll">testimonials</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#blog" class="font-style-1 nav-item scroll">blog</a>
                        </li>
                        <li class="nav-tab">
                            <a href="#contact" class="font-style-1 nav-item scroll">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->

    <!-- Main Section Starts -->
    <section id="home" class="main-section z-index100">
        <h2 class="displaynone">heading</h2>

        <!--Main Slider-->
        <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="video-bg" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- SLIDE -->
                    <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" class="banner-overlay">
                        <!-- MAIN IMAGE -->
                        <img src="video/thumb.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="7" data-no-retina>
                        <div class="rs-background-video-layer"
                             data-forcerewind="on"
                             data-volume="mute"
                             data-videowidth="100%"
                             data-videoheight="100%"
                             data-videowebm="assets/video/video.mp4"
                             data-videomp4="assets/video/video.mp4"
                             data-videopreload="auto"
                             data-videoloop="loopandnoslidestop"
                             data-forceCover="1"
                             data-aspectratio="16:9"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"></div>

                        <!--If you need youtube video-->
                        <!--<div class="rs-background-video-layer"
                        data-ytid="hEkiWaEp03k"
                        data-volume="mute"
                        data-forcerewind="on"
                        data-nextslideatend="true"
                        data-autoplay="true"
                        data-autoplayonlyfirsttime="true"
                        data-videoloop="loopandnoslidestop"
                        data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&autoplay=1&wmode=opaque&showinfo=0&rel=0&
                        origin=http://server.local"></div>-->

                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-80']"
                             data-whitespace="nowrap" data-responsive_offset="on"
                             data-width="['none','none','none','none']" data-type="text"
                             data-textalign="['center','center','center','center']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="1400" data-splitin="none" data-splitout="none">
                            <h1 class="font-style-2 text-color-white text-capitalize"> video background </h1>
                        </div>
                        <div class="tp-caption tp-resizeme text-color-white"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-10']"
                             data-whitespace="nowrap" data-responsive_offset="on"
                             data-width="['none','none','none','none']" data-type="text"
                             data-textalign="['center','center','center','center']"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1600" data-splitin="none" data-splitout="none">
                            <h2 class="font-style-2 text-color-white text-capitalize sm-video-slider-text">one page parallax</h2>
                        </div>
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['100','100','90','90']"
                             data-textalign="['center','center','center','center']"
                             data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
                             data-start="180" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            <a href="#design" class="scroll btn btn-blue btn-rounded btn-large btn-hvr-white">Learn More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Main Slider ends -->
        <div class="scrolldown">
            <a id="scroll" href="#features" class="scroll  scroll-design1"></a>
        </div>
    </section>
    <!-- Main Section ends -->
    <div id="features" class="transform-88px">
    </div>

    <!-- 4 boxes Starts  -->
    <div class="features-bg">
        <div class="container width-100">
            <div class="row">
                <div class="over-information">
                    <div class="four-boxes max-width">
                        <div class="information-icon">
                            <div class="wordpress">
                                <i class="fa fa-laptop"></i>
                                <h5 class="font-style-1 font-weight-300 text-capitalize">web design</h5>
                                <p class="font-weight-100 bottom0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
                                </p>
                            </div>
                            <div class="joomla">
                                <i class="fa fa-edit"></i>
                                <h5 class="font-style-1 font-weight-300 text-capitalize">web hosting</h5>
                                <p class="font-weight-100">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
                                </p>
                            </div>
                            <div class="drupal">
                                <i class="fa fa-laptop"></i>
                                <h5 class="font-style-1 font-weight-300">SEO Services</h5>
                                <p class="font-weight-100">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
                                </p>
                            </div>
                            <div class="css3">
                                <i class="fa fa-edit"></i>
                                <h5 class="font-style-1 font-weight-300 text-capitalize">digital marketing</h5>
                                <p class="font-weight-100">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4 boxes ends -->
    <!-- Coffee Section Starts  -->
    <section class="features-bg padding-bottom-100px" id="design">
        <div class="information-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 sm-margin50pxtopbottom sm-marginbottom0 wow fadeInLeft equalheight">
                        <div class="information-written-data md-top50 lg-top150">
                            <h2 class="font-style-1 font-weight-300 border-color-blue text-color-grey paddingleft25px no-margin"><span class="font-style-1-u ultra-light text-color-grey"> Lets take your </span> <br> <span class="blue-color">Design</span> to Next Level</h2>
                            <p class="font-weight-100 line-height-30px text-color-grey-acacac">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu,
                                lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla.
                                Suspendisse potenti. Duis suscipit ultrices maximus.
                            </p>
                            <div class="information-data-button">
                                <a href="javascript:void(0)" class="btn  btn-rounded btn-large">learn more</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight equalheight">
                        <div class="information-data-img">
                            <div class="coffee-img">
                                <img src="assets/images/coffee-cup.png" alt="coffee" class="img-responsive" data-no-retina>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Coffee Section ends -->
    <!-- Stats with Parallax Starts -->
    <section class="stats stats-with-parallax parallax-setting parallaxie">
        <h2 class="displaynone">heading</h2>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 col-sm-12 col-xs-12 wow bounceIn">
                    <div class="customer">
                        <span class="font-style-1-u parallax-number text-color-white numscroller">2010</span>
                        <p class="font-style-1-u parallax-sub-heading text-color-white no-margin text-capitalize">since we started</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 wow bounceIn">
                    <div class="parallax-2">
                        <p class=" parallax-para text-color-white no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 wow bounceIn">
                    <div class="rating">
                        <span class="font-style-1-u parallax-number text-color-white numscroller">895</span>
                        <p class="font-style-1-u parallax-sub-heading text-color-white no-margin text-capitalize">clients worldwide</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Stats with Parallax ends -->
    <div class="sm-transform" id="team"></div>
    <!-- Team Starts -->
    <section class="team-bg paddingtopbottom50px">
        <div class="information-data paddingtopbottom50px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="information-written-data wow fadeIn">
                            <h2 class="border-color-blue-2 text-color-grey paddingleft25px no-margin text-capitalize">meet our <br> <span class="font-style-1 green-color">creative</span> <span class="font-style-1"> heads</span></h2>
                            <p class="line-height-30px font-weight-100 text-color-grey-acacac">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.
                            </p>
                            <div class="information-data-button team-button visible-lg">
                                <a href="javascript:void(0)" class="btn btn-rounded btn-large">join our team</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 lg-margintop10px-sm-5px no-padding-r-l">
                        <div class="col-md-6 col-sm-6 col-xs-12 width xs-margin-bottom-25px">
                            <div class="team-data-img wow fadeIn">
                                <div class="team-img">
                                    <img src="assets/images/team1.jpg" alt="team" class="img-responsive" data-no-retina>
                                </div>
                                <div class="text-center">
                                    <h3 class="top20 text-color-grey text-capitalize">jack jaurez</h3>
                                    <p class="font-style-1-u designation text-color-grey text-capitalize margintop10px bottom10">creative lead, tricon </p>
                                    <ul class="team-social-icon">
                                        <li><a href="javascript:void(0)"><i class="facebook fa fa-facebook"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="twitter fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="google fa fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 width">
                            <div class="team-data-img wow fadeIn">
                                <div class="team-img">
                                    <img src="assets/images/team2.jpg" alt="team" class="img-responsive" data-no-retina>
                                </div>
                                <div class="text-center">
                                    <h3 class="top20 text-color-grey text-capitalize">maria lesly</h3>
                                    <p class="font-style-1-u designation text-color-grey text-capitalize margintop10px bottom10">marketing head, tricon </p>
                                    <ul class="team-social-icon">
                                        <li><a href="javascript:void(0)"><i class="facebook fa fa-facebook"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="twitter fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="google fa fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-data-button padding-top-20 text-center visible-xs visible-sm">
                    <a href="javascript:void(0)" class="btn btn-rounded btn-large">join our team</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Team ends -->
    <!-- Quotation Starts -->
    <section class="paddingtopbottom100px features-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 center-col text-center wow slideInRight">
                    <div class="quote">
                        <blockquote class="font-style-1-u ultra-light text-color-grey">
                            <span class="blue-color text-capitalize">creativity</span> is allowing yourself to make<span class="green-color"> mistakes</span> and Art is knowing which ones to keep.
                        </blockquote>
                    </div>
                    <h5 class="font-italic text-color-grey mtop30 text-capitalize">- alice jhonson -</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Quotation ends -->
    <div class="sm-transform" id="portfolio"></div>
    <!-- Portfolio Starts -->
    <section class="paddingtopbottom50px">
        <div class="paddingtopbottom50px">
            <div class="container">
                <div class="col-md-6 portfolio paddingleft25px">
                    <div class="information-written-data wow fadeIn">
                        <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">portfolio <br> <span class="green-color font-style-1">creative</span> <span class="font-style-1">work</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div id="js-filters-mosaic-flat" class="col-lg-offset-7 cbp-l-filters-buttonCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-capitalize">
                            all
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".print" class="cbp-filter-item text-capitalize">
                            art work
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".web-design" class="cbp-filter-item text-capitalize">
                            web
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".graphic" class="cbp-filter-item text-capitalize">
                            logos
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".motion" class="cbp-filter-item text-capitalize">
                            print media
                            <div class="cbp-filter-counter"></div>
                        </div>
                    </div>
                    <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                        <div class="cbp-item web-design graphic ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery1.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery1.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item print motion">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery2.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery2.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item print motion">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery3.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery3.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item motion graphic ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery4.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery4.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design print ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery5.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery5.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item print motion ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery6.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery6.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design print ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery7.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery7.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item print graphic ">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/images/gallery8.jpg" alt="project">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="plus">
                                                <img src="assets/images/plus-sign.png"  alt="sign">
                                            </div>
                                            <div class="cbp-l-caption-title">creative art work</div><br>
                                            <a href="images/gallery8.jpg" class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large" data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="js-loadMore-mosaic-flat" class="cbp-l-loadMore-bgbutton">
                        <a href="ajax-mosaic-flat/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                            <span class="cbp-l-loadMore-defaultText">Load More</span>
                            <span class="cbp-l-loadMore-loadingText">Loading...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio ends -->
    <!-- Packages Starts -->
    <section id="packages" class="packages-bg position-relative padding_half parallax-setting parallaxie">
        <div class="container">
            <div class="padding_half">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center wow animated fadeInDown">
                        <div class="packages-info paddingleft25px">
                            <h2 class="border-color-blue-4 text-color-white text-capitalize margintop10px bottom10">our packages</h2>
                            <p class="font-weight-100 text-color-white">Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Pricing Starts -->
    <section class="features-bg">
        <div class="container pricing-alignment-setting">
            <div class="row position-relative wow fadeInUp">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-transform">
                    <div class="pricing_item">
                        <div class="pricebox bottom30 clearfix">
                            <div class="price_title">
                                <h3 class="font-size-30px text-capitalize bottom10">Basic</h3>
                                <span class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            </div>
                            <div class="price">
                                <h2 class="font-size-60px">$19<span class="month">/ month</span></h2>
                            </div>
                        </div>
                        <div class="price-description">
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> 5GB Desk Space</p>
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Bandwidth</p>
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> Weekly Backups</p>
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> Powerful Admin Panel</p>
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> 100 Email Accounts</p>
                            <p class="availability"><i class="fa fa-check" aria-hidden="true"></i> 8 Free Forks Every Months</p>
                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0)" class="btn btn-rounded btn-large button white top20 bottom30 sm-line-height-30px">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-transform sm-margin40pxtop">
                    <div class="pricing_item active">
                        <div class="pricebox bottom30 clearfix">
                            <div class="price_title">
                                <h3 class="font-size-30px text-capitalize bottom10">Standard</h3>
                                <span class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            </div>
                            <div class="price">
                                <h2 class="font-size-60px blue-color">$29<span class="month">/ month</span></h2>
                            </div>
                        </div>
                        <div class="price-description">
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 5GB Desk Space</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Bandwidth</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Weekly Backups</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Powerful Admin Panel</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 100 Email Accounts</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 8 Free Forks Every Months</p>
                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0)" class="btn btn-blue btn-rounded button btn-large btn-hvr-grey top20 bottom30 sm-line-height-30px">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-transform sm-margin40pxtop">
                    <div class="pricing_item text-color-grey-646464">
                        <div class="pricebox bottom30 clearfix">
                            <div class="price_title">
                                <h3 class="font-size-30px text-capitalize bottom10"> Advance</h3>
                                <span class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                            </div>
                            <div class="price">
                                <h2 class="font-size-60px">$49<span class="month">/ month</span></h2>
                            </div>
                        </div>
                        <div class="price-description">
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 5GB Desk Space</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Bandwidth</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Weekly Backups</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> Powerful Admin Panel</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 100 Email Accounts</p>
                            <p class=" availability"><i class="fa fa-check" aria-hidden="true"></i> 8 Free Forks Every Months</p>
                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0)" class="btn btn-rounded btn-large button white top20 bottom30 sm-line-height-30px">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing ends -->
    <!-- Packages ends -->
    <div class="sm-transform" id="testimonial"></div>
    <!-- Testimonial Starts -->
    <section class="paddingtopbottom50px">
        <div class="paddingtopbottom50px">
            <div class="container">
                <div class="col-md-4 testimonial">
                    <div class="information-written-data">
                        <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span class="green-color"> clients </span> <br> testimonials</h2>
                        <!-- Swiper -->
                    </div>
                </div>
                <div class="row">
                    <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
                        <div class="swiper-wrapper cursor">
                            <!-- start testimonial item -->
                            <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                                <div class="testimonia-block center-col">
                                    <div class="quote2">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <div class="slider-box1 features-bg text-center padding70px35px">
                                        <p class="testimonial-p">Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p>
                                    </div>
                                    <div class="profile-box">
                                        <div class="profile-box-img">
                                            <img src="assets/images/testimonial1.png" alt="">
                                        </div>
                                        <div class="width-100">
                                            <h6 class="text-capitalize">david raleway</h6>
                                            <p class="testimonial-p blue-color text-capitalize">businessman</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end testimonial item -->
                            <!-- start testimonial item -->
                            <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                                <div class="testimonia-block center-col">
                                    <div class="quote2">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <div class="slider-box2 features-bg text-center padding70px35px">
                                        <p class="testimonial-p">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>
                                    </div>
                                    <div class="profile-box">
                                        <div class="profile-box-img">
                                            <img src="assets/images/testimonial2.png" alt="">
                                        </div>
                                        <div class="width-100">
                                            <h6 class="text-capitalize">kate marrassiaa</h6>
                                            <p class="testimonial-p blue-color text-capitalize">illustrator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end testimonial item -->
                            <!-- start testimonial item -->
                            <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                                <div class="testimonia-block center-col">
                                    <div class="quote2">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <div class="slider-box3 features-bg text-center padding70px35px">
                                        <p class="testimonial-p">Nulla laoreet sed enim in pulvinar. Nunc nec mauris sed lorem scelerisque sagittis. Vivamus mauris nibh, volutpat suscipit posuere sit amet, vehicula.</p>
                                    </div>
                                    <div class="profile-box">
                                        <div class="profile-box-img">
                                            <img src="assets/images/testimonial3.png" alt="">
                                        </div>
                                        <div class="width-100">
                                            <h6 class="text-capitalize">sam billings</h6>
                                            <p class="testimonial-p blue-color text-capitalize">web designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end testimonial item -->
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial ends -->
    <!-- Blog Starts -->
    <section class="features-bg paddingtopbottom50px half-section" id="blog">
        <div class="information-data paddingtopbottom50px">
            <div class="container arrow-hover-effect">
                <!-- Blog Slider -->
                <div id="blog-slider" class="owl-carousel owl-theme">
                    <div id="blog-slide-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="image hover-effect">
                                        <img src="assets/images/split-blog.jpg" alt="blog" class="equalheight">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="blog-text-setting equalheight">
                                        <div class="blog-written-data wow fadeIn blog-padding">
                                            <h2 class="border-color-blue-6 text-color-grey paddingright25px margin-top0 text-capitalize">read our <br> <span class="font-style-1 green-color">creative</span> <span class="font-style-1"> blogs</span></h2>
                                            <div class="font-style-1-u blog-date">4 July, 2018</div>
                                            <p class="line-height-30px font-weight-100 text-color-grey-acacac">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.
                                            </p>
                                            <div class="information-data-button">
                                                <a href="blog.html" class="btn btn-rounded btn-large">read full story</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blog-slide-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="image hover-effect">
                                        <img src="assets/images/split-blog2.jpg" alt="blog"  class="equalheight">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="blog-text-setting equalheight">
                                        <div class="blog-written-data wow fadeIn blog-padding">
                                            <h2 class="border-color-blue-6 text-color-grey paddingright25px margin-top0 text-capitalize">read our <br> <span class="font-style-1 green-color">creative</span> <span class="font-style-1"> blogs</span></h2>
                                            <div class="font-style-1-u blog-date">4 July, 2018</div>
                                            <p class="line-height-30px font-weight-100 text-color-grey-acacac">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.
                                            </p>
                                            <div class="information-data-button">
                                                <a href="blog.html" class="btn  btn-rounded btn-large">read full story</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blog-slide-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="image hover-effect">
                                        <img src="assets/images/split-blog3.jpg" alt="blog" class="equalheight">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-r-l">
                                    <div class="blog-text-setting equalheight">
                                        <div class="blog-written-data wow fadeIn blog-padding">
                                            <h2 class="border-color-blue-6 text-color-grey paddingright25px margin-top0 text-capitalize">read our <br> <span class="font-style-1 green-color">creative</span> <span class="font-style-1"> blogs</span></h2>
                                            <div class="font-style-1-u blog-date">4 July, 2018</div>
                                            <p class="line-height-30px font-weight-100 text-color-grey-acacac">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.
                                            </p>
                                            <div class="information-data-button">
                                                <a href="blog.html" class="btn btn-rounded btn-large">read full story</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog ends -->
    <div class="sm-transform" id="contact"></div>
    <!-- Contact Us Starts -->
    <section class="team-bg paddingtopbottom50px">
        <div class="information-data paddingtopbottom50px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 sm-margin50pxbottom wow fadeInUp" data-wow-delay="400ms">
                        <div class="contact-written-data wow fadeIn">
                            <h2 class="border-color-blue-7 text-color-grey paddingleft25px text-capitalize margin-top0 bottom0"><span class="green-color">Connect </span> <br> with<span class="font-style-1"> Tricon</span></h2>
                            <p class="line-height-30px font-weight-100 text-color-grey-acacac">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                        </p>
                            <div class="contact-detail-list">
                                <ul>
                                    <li>619 26th Street</li>
                                    <li class="padding-top-12">Norfolk, USA </li>
                                    <li class="padding-top-12">+1 (757) 2 847 911</li>
                                    <li class="padding-top-12"><a href="javascript:void(0)">james@info.com</a></li>
                                </ul>
                            </div>
                            <div class="padding-top-20">
                                <ul class="company-social-icons">
                                    <li class="company-social-icons-list">
                                        <a href="javascript:void(0)" class="facebook-icon"> <i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="company-social-icons-list">
                                        <a href="javascript:void(0)" class="twitter-icon"> <i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="company-social-icons-list">
                                        <a href="javascript:void(0)" class="instagram-icon"> <i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="company-social-icons-list">
                                        <a href="javascript:void(0)" class="dribble-icon"> <i class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li class="company-social-icons-list">
                                        <a href="javascript:void(0)" class="googleplus-icon"> <i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="company-contact-form">
                            <h2 class="font-style-1 text-color-grey no-margin text-capitalize"> write us</h2>
                            <form class="contact-form-outer" onsubmit="return false;">
                                <div class="col-sm-12" id="result"></div>
                                <div class="col-md-6">
                                    <div class="contact-form-textfield padding-bottom-30">
                                        <input type="text" placeholder="First Name:" class="form-control " required id="first_name" name="first_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="contact-form-textfield padding-bottom-30">
                                        <input type="text" placeholder="Last Name:" class="form-control " required id="last_name" name="last_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="contact-form-textfield padding-bottom-30">
                                        <input type="email" placeholder="Email:" class="form-control " required id="email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="contact-form-textfield padding-bottom-30">
                                        <input type="tel" placeholder="Phone:" class="form-control " id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="contact-form-textfield padding-bottom-30">
                                        <textarea placeholder="Message" class="form-control " id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="button blue active text-center width-100" id="submit_btn">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us ends -->
    <!-- Google Map Section -->
    <div class="container">
        <div id="google-map" class="bg-light-gray" style="height: 400px; width: 100%;"></div>
    </div>
    <!-- Google Map Section End -->
    <!-- Footer -->
    <footer id="site-footer" class="padding_half footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-facebook"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-twitter"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-whatsapp"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-google"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-pinterest-p"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-instagram"></i> </a> </li>
                    </ul>
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span class="copyrights">© 2018 Tricon.</span> </p>
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span class="copyrights">Made with Love by <a href="javascript:void(0)">themesindustry</a> </span> </p>

                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->
</div>
<!-- Wrapper ends -->

<router-outlet></router-outlet>
