<div id="listPlayasViewer" class="panel-side scroller esri-widget esri-hidden">
    <ul id="ulPlayaViewer">
        <li>Cargando&hellip;</li>
    </ul>
</div>
<div id="mainContainerViewer" [style.height]="mapHeight">
    <div id="viewDivViewer"></div>
    <div id="legendDivViewer" class="card custom-widget"></div>
    <div id="infoViewer" class="container-fluid esri-widget custom-widget esri-hidden">
        <img src="assets/images/logos/logo.png" class="card-img-top"/>
        <div class="card-body">
            <p id="txtSeleccionaViewer" class="card-text">Seleccione Playa/ZBM</p>
        </div>
    </div>
</div>
