<!-- Portfolio Starts -->
<section class="paddingtopbottom50px">
    <div class="paddingtopbottom50px">
        <div class="container">
            <div class="col-md-6 portfolio paddingleft25px">
                <div class="information-written-data wow fadeIn">
                    <h2 class="border-color-blue-3 no-margin text-color-grey text-capitalize">playas <br> <span
                            class="green-color font-style-1">catálogo</span> <span class="font-style-1">de</span></h2>
                </div>
            </div>
            <div class="row">
                <div id="js-filters-mosaic-flat" class="col-lg-offset-7 cbp-l-filters-buttonCenter">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-capitalize">
                        all
                        <div class="cbp-filter-counter"></div>
                    </div>
                    <div data-filter=".print" class="cbp-filter-item text-capitalize">
                        art work
                        <div class="cbp-filter-counter"></div>
                    </div>
                    <div data-filter=".web-design" class="cbp-filter-item text-capitalize">
                        web
                        <div class="cbp-filter-counter"></div>
                    </div>
                    <div data-filter=".graphic" class="cbp-filter-item text-capitalize">
                        logos
                        <div class="cbp-filter-counter"></div>
                    </div>
                    <div data-filter=".motion" class="cbp-filter-item text-capitalize">
                        print media
                        <div class="cbp-filter-counter"></div>
                    </div>
                </div>
                <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                    <div class="cbp-item web-design graphic ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery1.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery1.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item print motion">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery2.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery2.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item print motion">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery3.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery3.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item motion graphic ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery4.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery4.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item web-design print ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery5.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery5.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item print motion ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery6.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery6.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item web-design print ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery7.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery7.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item print graphic ">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/images/gallery8.jpg" alt="project">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="plus">
                                            <img src="assets/images/plus-sign.png" alt="sign">
                                        </div>
                                        <div class="cbp-l-caption-title">creative art work</div>
                                        <br>
                                        <a href="images/gallery8.jpg"
                                           class="cbp-lightbox portfolio-img-button btn  btn-rounded btn-large"
                                           data-title="creative art work<br>by Tiberiu Neamu">View Large</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="js-loadMore-mosaic-flat" class="cbp-l-loadMore-bgbutton">
                    <a href="ajax-mosaic-flat/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                        <span class="cbp-l-loadMore-defaultText">Load More</span>
                        <span class="cbp-l-loadMore-loadingText">Loading...</span>
                        <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio ends -->
