.centrar{
  text-align: center !important;

}
.tamanhofont{
  font-size: 0.9em !important;
  text-align: center !important;
}
.tamanhofontcal{
  font-size: 0.4em !important;
  text-align: center !important;
}
.pointer{
  cursor: pointer !important;
}
.inputCustom{
  height: 30px !important;
  width: 100% !important;
  font-size: 1.0em !important;
  text-align: center !important;
}
.inputCustomCal{
  height: 30px !important;
  width: 50% !important;


}
.botonCentrado{
  text-align:center;
}

.modal-dialog-main {

  top:30% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:50%;
}

.modal {
  overflow: auto !important;
}
.modal-dialog-calculadora {

  width:82% !important;
}

@media (max-width: 641px) {
  /* Bump up size of carousel content */
  .tamanhofont  {
    font-size: 0.1em !important;
  }

}
@media (max-width: 750px) {
  /* Bump up size of carousel content */
  .tamanhofont  {
    font-size: 0.3em !important;
  }

}

@media (max-width: 709px) {
  /* Bump up size of carousel content */
  .tamanhofont  {
    font-size: 0.2em !important;
  }

}

@media (max-width: 1200px) {
  /* Bump up size of carousel content */
  .tamanhofont  {
    font-size: 0.5em !important;
  }

}
