<!-- security Header -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/play.jpg">
  <div class="container">
    <div class="padding-top-30 padding-bottom-70">
      <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">plan de seguridad y salvamento</h2>
    </div>
  </div>
</section>
<!-- security Header End -->

<!--security Details Starts-->
<section id="shop" class="paddingtopbottom100px">
  <div class="container">
    <h3 class="first">Playas del municipio de: <span class="font-weight-bold">Tias(modo ejemplo)</span></h3>
    <p-table [columns]="cols" [value]="cars" [responsive]="true">
      <ng-template pTemplate="caption">
        Playa del hombre muerto, de risa...
      </ng-template>

      <ng-template pTemplate="header" let-columns >
        <tr>
          <th *ngFor="let col of columns"  style="text-align:center">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title ">{{col.header}}</span>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        There are {{cars?.length}} cars
      </ng-template>
    </p-table>

  </div>
</section>
<!--security Details End-->
