<ng4-loading-spinner [timeout]="10000" [threshold]="500"></ng4-loading-spinner>
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
  <div class="container">
    <div class="padding-top-30 padding-bottom-70">
      <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">Plan de Seguridad y Salvamento</h2>
    </div>
  </div>
</section>
<!-- security Header End -->

<!--security Details Starts-->
<section id="shop" class="paddingtopbottom100px">
  <div class="container">
    <div class="section-title text-center">
        <h2 class="text-color-grey-646464 font-weight-700 padding-bottom-20 bottom50 position-relative text-capitalize text-center">Playas del municipio de: {{nomMunicipio | titlecase}} <i class="fa fa-cog  pointer" aria-hidden="true" title="Añada los precios unitarios" (click)="openConfiguration()"></i></h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="sel1"><h4>Filtrar por clasificación:</h4></label>
            <select class="form-control" [(ngModel)]="clasificacionData"  (change)="clasificacionSelect()">
              <option value="T">Todas</option>
              <option value="L">Libres</option>
              <option value="P">Peligrosas</option>
              <option value="UP">Prohibidas</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-4">
            <label for="sel1"><h4>Buscar por nombre de playa:</h4></label>
           <input type="text" class="form-control" placeholder="Nombre de playa" aria-describedby="basic-addon1" (change)="prueba($event)">
        </div> -->
      </div>
    </div>

    <p-table *ngFor="let playa of datosPlaya.features">
      <ng-template pTemplate="header" >
          <tr>
              <th colspan="3" class="centrar"><span style="color:#8CBB28">IDGSE: {{playa.attributes.id_dgse}} - {{!playa.attributes.nombre_municipio ? 'Nombre sin asignar' : playa.attributes.nombre_municipio}} </span> <span class="font-style-1  blue-color">{{playa.attributes.clasificacion === 'L' ? 'LIBRE' : playa.attributes.clasificacion === 'UP' ? 'USO PROHIBIDO' : 'PELIGROSA'}} </span>
               <i style="color:#F96054" *ngIf="playa.attributes.clasificacion==='UP'" class="fa fa-ban" aria-hidden="true" title="Playa de USO PROHIBIDO {{playa.attributes.objectid}}"></i>
               <i style="color:#F96054" *ngIf="playa.attributes.clasificacion==='PENDIENTE'" class="fa fa-info" aria-hidden="true" title="Clasificación PENDIENTE"></i>
               <i style="color:#FA924A" *ngIf="playa.attributes.clasificacion==='P'" class="fa fa-exclamation-triangle" aria-hidden="true" title="Playa PELIGROSA"></i>
               <i style="color:#54A777" *ngIf="playa.attributes.clasificacion==='L'" class="fa fa-check" aria-hidden="true" title="Playa LIBRE"></i>
              </th>
          </tr>
          <tr *ngIf="playa.attributes.clasificacion!='UP'">
              <th class="centrar">Añadir medios humanos <i *ngIf="playa.attributes.clasificacion!='PENDIENTE'" class="fa fa-plus-circle pointer" aria-hidden="true" (click)="anhadir_medios(playa,'humanos')" title="Añadir medios humano y medios materiales"></i><br></th>
              <th class="centrar">Añadir medios materiales <i *ngIf="playa.attributes.clasificacion!='PENDIENTE'" class="fa fa-plus-circle pointer" aria-hidden="true" (click)="anhadir_medios(playa,'materiales')" title="Añadir medios humano y medios materiales"></i> <br></th>
              <th class="centrar">Horarios salvamento <i *ngIf="playa.attributes.clasificacion!='PENDIENTE'" class="fa fa-plus-circle pointer" aria-hidden="true" (click)="anhadir_medios(playa,'horarios')" title="Añadir medios humano y medios materiales"></i> <br></th>
          </tr>
          <!-- <tr *ngIf="playa.attributes.clasificacion==='UP'">
              <th colspan="3" class="centrar">Añadir Medios <i class="fa fa-plus-circle pointer" aria-hidden="true" (click)="anhadir_medios(playa,'bajo')" title="Añadir medios humano y medios materiales"></i><br><span style="font-size: 0.7em;">(Sin servicio de salvamento)</span>
              </th>
            </tr> -->
              <tr>
                <th colspan="3" class="centrar">
                  <!-- <button type="button" class="btn btn-info btn-sm"  (click)="meteo(playa)"><i class="fa fa-sun-o"></i> Información meteorológica</button> -->
                </th>
              </tr>
            <tr>
                <td colspan="3"><hr></td>
              </tr>

      </ng-template>
  </p-table>

  </div>
</section>
<!--security Details End-->

<!-- Modal medio humanos-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="humanos">
  <div class="modal-dialog modal-dialog-main modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="formMediosHumanos" (ngSubmit)="updateMediosHumanos()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
        <h4 class="modal-title text-center" style="color:#8CBB28">IDGSE: {{iddgse}} - {{!nombre_playa ? 'Nombre sin asignar' : nombre_playa}} - {{clasificacion | titlecase}}  </h4>
          <div class="container">
            <div class="row">
            <h5 class="text-center">Longitud de la playa: {{longitudPlaya}} mts</h5>
            </div>
          </div>

      </div>
      <div class="modal-body">
      <h4 class="centrar text-color-grey-646464 font-weight-700">Medios Humanos <i class="fa fa-calculator pointer" style="font-size:20px !important;" aria-hidden="true" title="Valoración economica del equipo humano" (click)="calculadora('humanos')"></i></h4>
        <p-table [formGroup]="gradoP"   *ngFor="let gradoP of t.controls; let i=index;">
          <ng-template pTemplate="header" *ngIf="gradoP.value.grado!=='B'">
            <tr>
              <th colspan="7" class="centrar">
                <span *ngIf="gradoP.value.grado==='A'" style="color:#f5160f">Grado de protección Alto</span>
                <span *ngIf="gradoP.value.grado==='M'" style="color:#239906">Grado de protección Medio</span>
              </th>
            </tr>
            <tr>
              <th class="tamanhofont">Jefatura de playa o turno</th>
              <th class="tamanhofont">Socorrista en torre o silla de vigilancia</th>
              <th class="tamanhofont">Socorrista de actividades acuáticas y vigilancia a pie de agua</th>
              <th class="tamanhofont">Socorrista actividades acuáticas</th>
              <th class="tamanhofont">Socorrista vigilancia a pie de agua</th>
              <th class="tamanhofont">Socorrista embarcación</th>
              <th class="tamanhofont">Socorrista embarcación con PER</th>
            </tr>
            <tr>
              <th class="centrar"><input type="number"  formControlName="jefes_turno"  class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_torre"  class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_polivalentes"   class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_acuatico" class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_apie"  class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_embarcacion"  class="form-control  inputCustom" min="0" placeholder="0"></th>
              <th class="centrar"><input type="number"  formControlName="socorristas_embarcacion_per" class="form-control  inputCustom" min="0" placeholder="0"></th>

            </tr>
            <br>
            </ng-template >
        </p-table>
      </div>
      <div class="modal-footer botonCentrado">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> -->
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="materiales">
  <div class="modal-dialog modal-dialog-main modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" style="color:#8CBB28">IDGSE: {{iddgse}} - {{!nombre_playa ? 'Nombre sin asignar' : nombre_playa}} - {{clasificacion | titlecase}}</h4>
      </div>
  <div class="modal-body">
 <h4 class="centrar text-color-grey-646464 font-weight-700"  title="Artículo 9, 10 y Anexo III del Decreto 116/2018: Artículo 9. Banderas.
1. La señalización de las playas conforme a su clasificación, así como la determinación de las condiciones de seguridad para el baño, se efecturará mediante la utilización de banderas, que podrán ser generales o complementarias. (...)
(...)
4. Las banderas generales tendrán forma rectangular, de un metro y medio de alto por un metro de largo, ubicadas sobre mástiles que sobresalgan de la tierra como mínimo de tres metros y perfectamente visibles desde todos los accesos a las playas.
Artículo 10. Carteles Informativos.
1. Se colocará en cada playa en sitio visible, especialmente en los accesos habituales, un cartel o carteles con la descripción gráfica de la misma…
Anexo III. Colores, significado y criterios de utilizzación de las banderas.
1. Además de las banderas generales previstas en el artículo 9 del presente Decreto, los Planes de Seguridad y Salvamento contemplarán al menos las siguientes banderas complementarias, cuyo significado ha de figurar en la cartelería de la playa u otra zona de baño marítima y, al menos, en los idiomas español e ingles, así como un tercer idioma a deterimar en el Plan de Seguridad y Salvamento:
a) De zonificación de actividad en la playa (...)
b) De peligros específicos (...)
c) De zona segura (...)
(...)
3. Sin perjuicio de las futuras modificaciones del Anexo III, los Planes de Seguridad y Salvamento podrán contemplar otras banderas complementarias, en tanto no sustituyan a las generales y su significado figure de manera comprensiva en la cartelería y, al menos, en los idiomas español e inglés, así como un tercer idioma a determinar en el citado Plan de Seguridad y Salvamento.">
Medios Materiales - Banderas y Cartelerías <i class="fa fa-calculator  pointer" style="font-size:20px !important;" aria-hidden="true" title="Valoración economica del equipo material" (click)="calculadora('materiales')"></i></h4>

<form [formGroup]="formBanderas">
<p-table>
<ng-template pTemplate="header" >
    <tr>
      <th class="tamanhofont">Nº de Banderas</th>
      <th class="tamanhofont">Nº de Mástiles</th>
      <th class="tamanhofont">Nº de Carteles</th>
      <th class="tamanhofont">Nº Banderas complementarias</th>
    </tr>
    <tr>
      <th class="centrar"><input type="number"  formControlName="banderas" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="mastiles" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="carteles" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="banderas_comp" class="form-control  inputCustom" min="0" placeholder="0"></th>
    </tr>
    </ng-template >
</p-table>
</form>
<br>
 <h4 class="centrar text-color-grey-646464 font-weight-700" title="Anexo IV.II.A: Grado de Protección Bajo:(…). En todo caso, se dotará a las playas sin vigilancia con un grado de protección bajo, de elementos de seguridad pasiva como aros salvavidas y carretes, entre otros">
                                                            Medios Materiales - Seguridad Pasiva</h4>
<form [formGroup]="formPasiva">
<p-table >
  <ng-template pTemplate="header" >
    <tr>

      <th class="tamanhofont">Nº de Aros Salvavidas</th>
      <th class="tamanhofont">Nº de Carreteles / Malacate</th>

    </tr>
    <tr>
      <th class="centrar"><input type="number"  formControlName="salvavidas"  class="form-control  inputCustom" placeholder="0" ></th>
      <th class="centrar"><input type="number"  formControlName="carretes"  class="form-control  inputCustom" placeholder="0" ></th>

    </ng-template >
</p-table>
</form>
<br >
<h4 class="centrar text-color-grey-646464 font-weight-700" title="Las Playas y ZBM con Grado de Protección Moderado y Alto deberán disponer de torres o sillas de vigilancia, de acuerdo a lo establecido en el Anexo IV. II. B y C del Decreto 116/2018.
Anexo IV.II.3. Torre o silla de vigilancia:
'Se situará al menos a no más de 20 metros de la pleamar recomendándose la instalación de una por cada 400 metros de playa, con un área de responsabilidad de 200 metros a cada lado.
Estará dotada con equipamiento de vigilancia, salvamento y megafonía (*). Además dispondrá de juego de banderas y un soporte para su izado hasta una altura mínima de 3 metros. Como equipamiento mínimo de las torres o sillas o vigilancia deberán disponer de un botiquín portátil y un desfibrilador semiautomático (DESA) por cada dos sillas o torres de vigilancia a excepción de playas donde sólo haya una, que dispondrá de tal equipamiento'. (*) El equipamiento de vigilancia, salvamento y megafonía se analiza más adelante.">Medios  - Torre o Silla de Vigilancia</h4>

<form [formGroup]="formTorres">
<p-table>
  <ng-template pTemplate="header" >
    <tr>

      <th class="tamanhofont">Nº Torres o Sillas de Vigilancia</th>
      <th class="tamanhofont">Botiquín portátil</th>
      <th class="tamanhofont">Desfibrilador semiautomático (DESA)</th>
      <th class="tamanhofont">Banderas</th>
      <th class="tamanhofont">Sistema de izado a 3 metros</th>
    </tr>
    <tr>

      <th class="centrar"><input type="number"  formControlName="torres" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="botiquines" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="desfibriladores" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="banderas" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="sistemas_izado" class="form-control  inputCustom" min="0" placeholder="0"></th>
    </ng-template >
</p-table>
</form>
<br>


<h4 class="centrar text-color-grey-646464 font-weight-700" >Medios Materiales - Balizamiento</h4>
<form [formGroup]="formBalizamiento">
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th colspan="4" class="tamanhofont">Balizamiento de Zonas de Baño / Balizamiento de Canales de Lanzamiento o Varada</th>
    </tr>
    <tr>
      <th class="tamanhofont">Longitud cuerda (m)</th>
      <th class="tamanhofont">Nº boyas amarillas</th>
      <th class="tamanhofont">Nº boyas verdes</th>
      <th class="tamanhofont">Nº boyas rojas</th>
    </tr>
    <tr>


      <th class="centrar"><input type="number"  formControlName="m_cuerda" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="boyas_amarillas" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="boyas_verdes" class="form-control  inputCustom" min="0" placeholder="0"></th>
      <th class="centrar"><input type="number"  formControlName="boyas_rojas" class="form-control  inputCustom" min="0" placeholder="0"></th>


    </ng-template >
</p-table>
</form>
</div>
<div class="modal-footer botonCentrado">
  <button type="button" class="btn btn-primary" (click)="updateMediosMateriales()">Actualizar</button>
</div>

</div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- Modal horario-->
<div class="modal fade" id="horarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-horarios" role="document">
    <div class="modal-content">
    <form [formGroup]="formHorarios" novalidate (ngSubmit)="updateHorarios()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center" id="horariosModalLongTitle">Horarios de salvamento</h5>
        <h4 class="modal-title text-center" style="color:#8CBB28">{{nombre_playa}}</h4>
      </div>
      <div class="modal-body">
        <p-table [formGroup]="hsalvamento" *ngFor="let hsalvamento of g.controls; let i=index;" class="mb-5">
          <ng-template pTemplate="header" *ngIf="periodos[i].grado!=='B'">
            <tr>
              <th colspan="2" class="centrar">Horario comprendido entre: {{periodos[i].fecha_inicio | date }} a {{periodos[i].fecha_fin | date }}</th>
              <tr>
                <th colspan="2" class="text-center">
                  <span *ngIf="periodos[i].grado==='A'" style="color:#301cf5">Grado de protección Alto</span>
                  <span *ngIf="periodos[i].grado==='M'" style="color:#239906">Grado de protección Medio</span>
                </th>
              </tr>
            <tr>
              <th class="centrar"><p-calendar [defaultDate]="defaultWorkdayInicio" [readonlyInput]="true" dateFormat="HH/mm" formControlName="hora_inicio"  [timeOnly]="true" placeholder="Hora inicio"></p-calendar></th>
              <th class="centrar"><p-calendar [defaultDate]="defaultWorkdayFin" [readonlyInput]="true" dateFormat="HH/mm" formControlName="hora_fin" [timeOnly]="true" placeholder="Hora fin" ></p-calendar></th>
            </tr>
            <tr>
            <td colspan="2">

          </td>
            </tr>
          </ng-template >
        </p-table>
        <p style="font-style:italic;padding-top: 15px;font-size: small">*El uso horario mostrado es del usuario web, pero hay que introducir la jornada del socorrista en la hora de Canarias</p>
        </div>
        <div class="modal-footer botonCentrado">
          <button type="submit" class="btn btn-primary" [disabled]="desabilitar">Actualizar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Modal unitarios -->
  <div class="modal fade" id="configuracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-main modal-dialog-centered" role="document">
      <div class="modal-content">
      <form [formGroup]="formUnitarios" (ngSubmit)="update()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center" id="unitariosModalLongTitle"><span style="color:#8CBB28">Precios unitarios para el municipio de: {{nomMunicipio | titlecase}}</span></h4>
          <h5 class="centrar text-color-grey-646464 font-weight-700" >Medios Humanos</h5>
        </div>
        <div class="modal-body">
          <p-table>
            <ng-template pTemplate="header" >
              <tr>
                <th class="tamanhofont">Jefes de turno (precio/hora) </th>
                <th class="tamanhofont">Socorrista (precio/hora)</th>
                <th class="tamanhofont">Socorrista embarcación (precio/hora)</th>
                <th class="tamanhofont">Socorrista embarcación con PER (precio/hora)</th>
              </tr>
              <tr>
                <th class="centrar"><input type="text" formControlName="jefe_turno_pvp" name="jefe_turno_pvp" id="jefe_turno_pvp" class="form-control  inputCustom" min="0"  ></th>
                <th class="centrar"><input type="number" formControlName="socorrista_pvp" name="socorrista_pvp" id="socorrista_pvp" class="form-control  inputCustom" min="0" ></th>
                <th class="centrar"><input type="number" formControlName="socorrista_embarcacion_pvp" name="socorrista_embarcacion_pvp" id="socorrista_embarcacion_pvp" class="form-control  inputCustom" ></th>
                <th class="centrar"><input type="text" formControlName="socorrista_embarcacion_per_pvp" name="socorrista_embarcacion_per_pvp" id="socorrista_embarcacion_per_pvp" class="form-control  inputCustom" ></th>

              </tr>
              </ng-template >
          </p-table>
          </div>
          <div class="modal-header">
              <h5 class="centrar text-color-grey-646464 font-weight-700">Medios Materiales</h5>
          </div>
          <div class="modal-body">
            <p-table>
              <ng-template pTemplate="header">
                <tr>
                  <th class="tamanhofont">Banderas (precio/unidad)</th>
                  <th class="tamanhofont">Mastiles (precio/unidad)</th>
                  <th class="tamanhofont">Cartelería (precio/unidad)</th>
                  <th class="tamanhofont">Banderas complementarias (precio/unidad)</th>
                  <th class="tamanhofont">Aros salvavidas (precio/unidad)</th>
                  <th class="tamanhofont">Carretes (precio/unidad)</th>
                  <th class="tamanhofont">Longitud cuerda (precio/metro)</th>
                  <th class="tamanhofont">Boyas (precio/unidad)</th>
                  <th class="tamanhofont">Señales de prohibición (precio/unidad)</th>
                  <th class="tamanhofont">Sistemas de izado (precio/unidad)</th>
                  <th class="tamanhofont">Torre vigilancia (precio/unidad)</th>
                  <th class="tamanhofont">Desfibrilador (precio/unidad)</th>
                  <th class="tamanhofont">Botiquín (precio/unidad)</th>

                </tr>
                <tr>
                  <th class="centrar"><input type="number" formControlName="bandera_pvp" name="bandera_pvp" id="bandera_pvp" class="form-control  inputCustom"  min="0" pattern="^[0-9]+" ></th>
                  <th class="centrar"><input type="number" formControlName="mastil_pvp" name="mastil_pvp" id="mastil_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+" ></th>
                  <th class="centrar"><input type="number" formControlName="cartel_pvp" name="cartel_pvp" id="cartel_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="bandera_comp_pvp" name="bbandera_comp_pvp" id="bandera_comp_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+" ></th>
                  <th class="centrar"><input type="number" formControlName="salvavidas_pvp" name="salvavidas_pvp" id="salvavidas_pvp" class="form-control  inputCustom"  min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="carrete_pvp" name="carrete_pvp" id="carrete_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+" ></th>
                  <th class="centrar"><input type="number" formControlName="m_cuerda_pvp" name="m_cuerda_pvp" id="m_cuerda_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="boya_pvp" name="boya_pvp" id="boya_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+" ></th>
                  <th class="centrar"><input type="number" formControlName="senales_prohibicion" name="senales_prohibicion" id="senales_prohibicion" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="sistemas_izado_pvp" name="sistemas_izado_pvp" id="sistemas_izado_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="torre_pvp" name="torre_pvp" id="torre_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="desfibrilador_pvp" name="desfibrilador_pvp" id="desfibrilador_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>
                  <th class="centrar"><input type="number" formControlName="botiquin_pvp" name="botiquin_pvp" id="botiquin_pvp" class="form-control  inputCustom" min="0" pattern="^[0-9]+"></th>

                </tr>
                </ng-template >
            </p-table>
            </div>
            <div class="modal-footer botonCentrado">
              <button type="submit" class="btn btn-primary" [disabled]="!formUnitarios.valid">Actualizar</button>
            </div>

      </form>
        </div>
      </div>
    </div>
<!-- modal para la calculadora  medios humanos-->
<div class="modal fade" tabindex="-1" role="dialog" id="calculadorahumanos">
  <div class="modal-dialog modal-dialog-calculadora" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" style="color:#8CBB28">IDGSE: {{iddgse}} - {{!nombre_playa ? 'Nombre sin asignar' : nombre_playa}} - {{clasificacion | titlecase}}</h4>
          <h5 class="modal-title text-center">Calculadora de medios - {{medio | titlecase}}</h5>
      </div>
      <div class="modal-body">

        <div class="row align-items-center">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

            <div class="form-group ">
              <label for="jefatura">Jefatura de playa (Precio por hora(€))</label>
              <input type="number" class="form-control inputCustomCal"  id="jefatura" value="{{unitarios.jefe_turno_pvp}}" readonly>
            </div>
            <div class="form-group">
              <label for="socorrista">Socorrista (Precio por hora(€))</label>
              <input type="number" class="form-control  inputCustomCal" id="socorrista" value="{{unitarios.socorrista_pvp}}" readonly>
            </div>
            <div class="form-group">
              <label for="sembarcación">Socorrista embarcación (Precio por hora(€))</label>
              <input type="number" class="form-control  inputCustomCal" id="sembarcación" value="{{unitarios.socorrista_embarcacion_pvp}}" readonly>
            </div>
            <div class="form-group">
              <label for="sper">Socorristas embarcación con PER (Precio por hora(€))</label>
              <input type="number" class="form-control  inputCustomCal" id="sper" value="{{unitarios.socorrista_embarcacion_per_pvp}}" readonly>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
            <p-table >
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="5" class="centrar">
                    <span style="color:#239906">Totales anuales medios humanos</span>
                  </th>
                </tr>
                <tr>
                  <th colspan="5" class="centrar">

                    <span>Año:  {{fechaActual | date:'yyyy'}}</span>
                  </th>
                </tr>
                <tr>
                  <th class="tamanhofont">Jefatura playa o turno </th>
                  <th class="tamanhofont">Socorristas </th>
                  <th class="tamanhofont">Socorrista embarcación </th>
                  <th class="tamanhofont">Socorrista PER </th>
                  <th class="tamanhofont"> TOTAL </th>
                </tr>
                <tr *ngFor="let totales of calculoTotalHumanos; let i=index;">
                  <th class="centrar"><span>{{totales.totaljefe | currency: 'EUR' | lowercase  }}</span></th>
                  <th class="centrar"><span>{{totales.totalsoc | currency: 'EUR' | lowercase  }}</span></th>
                  <th class="centrar"><span>{{totales.totalsocemb | currency: 'EUR' | lowercase }}</span></th>
                  <th class="centrar"><span>{{totales.totalsocper | currency: 'EUR' | lowercase }}</span></th>
                 <th class="centrar"><span class="totales">{{totales.costetotal | currency: 'EUR' | lowercase }}</span></th>
               </tr>
               <br>
                </ng-template >

            </p-table>

          </div>

        </div>

        <p-table *ngFor="let periodoC of calculoTotalHumanosP; let i=index;">
          <ng-template pTemplate="header" *ngIf="periodoC.periodos.nivel !=='B'">
            <tr>
              <th colspan="5" class="centrar">
                <span *ngIf="periodoC.periodos.nivel ==='A'" style="color:#f5160f">Grado de protección Alto</span>
                <span *ngIf="periodoC.periodos.nivel ==='M'" style="color:#239906">Grado de protección Medio</span>
              </th>
            </tr>
            <tr>
              <th colspan="5" class="centrar">
                <span *ngIf="periodoC.periodos.nivel ==='A'">Periodo: {{periodoC.periodos.fecha_inicio | date }} a {{periodoC.periodos.fecha_fin | date }}</span>
                <span *ngIf="periodoC.periodos.nivel ==='M'">Periodo: {{periodoC.periodos.fecha_inicio | date }} a {{periodoC.periodos.fecha_fin | date }}</span>
              </th>
            </tr>
            <tr>
              <th class="tamanhofont">Coste periodo jefatura playa o turno</th>
              <th class="tamanhofont">Coste periodo socorristas</th>
              <th class="tamanhofont">Coste periodo socorrista embarcación</th>
              <th class="tamanhofont">Coste periodo socorrista PER</th>
              <th class="tamanhofont">Coste periodo equipo humano</th>
            </tr>
            <tr>
              <th class="centrar"><span>{{periodoC.totaljefep | currency: 'EUR' | lowercase }}</span></th>
              <th class="centrar"><span>{{periodoC.totalsocp | currency: 'EUR' | lowercase }}</span></th>
              <th class="centrar"><span>{{periodoC.totalsocembp | currency: 'EUR' | lowercase }}</span></th>
              <th class="centrar"><span>{{periodoC.totalsocperp | currency: 'EUR' | lowercase }}</span></th>
             <th class="centrar"><span class="totales">{{periodoC.costetotalp | currency: 'EUR' | lowercase }}</span></th>
           </tr>
           <br>
            </ng-template >

        </p-table>
        <!-- <br>
        <div class="modal-footer botonCentrado">
          <button type="button" class="btn btn-primary">Calcular</button>
        </div> -->

      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal para los medios materiales-->
<div class="modal fade" tabindex="-1" role="dialog" id="calculadoramateriales">
  <div class="modal-dialog modal-dialog-calculadora" role="document">
    <div class="modal-content">
  <form [formGroup]="formCalcMateriales" (ngSubmit)="calculoMateriales()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" style="color:#8CBB28">IDGSE: {{iddgse}} - {{!nombre_playa ? 'Nombre sin asignar' : nombre_playa}} - {{clasificacion | titlecase}}</h4>
          <h5 class="modal-title text-center">Calculadora de medios - {{medio | titlecase}}</h5>
          <div class="row">
          <h5 class="text-center">Longitud de la playa: {{longitudPlaya}} mts</h5>
          </div>
      </div>
      <div class="modal-body">
        <h4 class="modal-title text-center" style="color:#8CBB28">Banderas y Cartelería.</h4>
        <p-table>
          <ng-template pTemplate="header" >
            <tr>
              <th colspan="4" class="tamanhofont">Número</th>
              <th colspan="4" class="tamanhofont">PVP Unitario</th>
              <th colspan="4" class="tamanhofont">Amortización Anual</th>
              <th colspan="4" class="tamanhofont">PVP €/año</th>
              <th rowspan="2" class="tamanhofont">PVP Total Anual</th>
            </tr>

            <tr>
              <th class="tamanhofont">Banderas</th>
              <th class="tamanhofont">Mastiles</th>
              <th class="tamanhofont">Carteles</th>
              <th class="tamanhofont">Banderas Compl.</th>

              <th class="tamanhofont">Banderas</th>
              <th class="tamanhofont">Mastiles</th>
              <th class="tamanhofont">Carteles</th>
              <th class="tamanhofont">Banderas Compl.</th>

              <th class="tamanhofont">Banderas</th>
              <th class="tamanhofont">Mastiles</th>
              <th class="tamanhofont">Carteles</th>
              <th class="tamanhofont">Banderas Compl.</th>

              <th class="tamanhofont">Banderas</th>
              <th class="tamanhofont">Mastiles</th>
              <th class="tamanhofont">Carteles</th>
              <th class="tamanhofont">Banderas Compl.</th>

            </tr>
          <tr>


              <th class="centrar"><input type="text"   formControlName="banderas" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="mastiles" class="form-control  inputCustom" readonly ></th>
              <th class="centrar"><input type="text"   formControlName="carteles" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="banderas_compl" class="form-control  inputCustom" readonly></th>

              <th class="centrar"><input type="text"   formControlName="banderas_pvp" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="mastiles_pvp" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="carteles_pvp" class="form-control  inputCustom" readonly></th>
             <th class="centrar"><input type="text"    formControlName="banderas_compl_pvp" class="form-control  inputCustom" readonly></th>

             <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" formControlName="banderas_amort"></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" formControlName="mastiles_amort"></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" formControlName="carteles_amort"></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" formControlName="banderas_compl_amort"></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly ></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
             <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
          </tr>
            </ng-template >
        </p-table>
        <br>
        <h4 class="modal-title text-center" style="color:#8CBB28">Seguridad Pasiva.</h4>
        <p-table>
          <ng-template pTemplate="header">
            <tr>
              <th colspan="2" class="tamanhofont">Número</th>
              <th colspan="2" class="tamanhofont">PVP Unitario</th>
              <th colspan="2" class="tamanhofont">Amortización Anual</th>
              <th colspan="2"  class="tamanhofont">PVP €/año</th>
              <th rowspan="2" class="tamanhofont">PVP Total Anual</th>
            </tr>
            <tr>
              <th class="tamanhofont">Aros Salvavidas</th>
              <th class="tamanhofont">Carretes.</th>

              <th class="tamanhofont">Aros Salvavidas</th>
              <th class="tamanhofont">Carretes.</th>

              <th class="tamanhofont">Aros Salvavidas</th>
              <th class="tamanhofont">Carretes.</th>

              <th class="tamanhofont">Aros Salvavidas</th>
              <th class="tamanhofont">Carretes.</th>

            </tr>
          <tr>

              <th class="centrar"><input type="text"   formControlName="aros" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="carretes" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="aros_pvp" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   formControlName="carretes_pvp" class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" ></th>
              <th class="centrar"><input type="text"   class="form-control  inputCustom" placeholder="%" ></th>
              <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly ></th>
              <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
              <th class="centrar"><input type="text"   class="form-control  inputCustom" readonly></th>
          </tr>
            </ng-template >
        </p-table>
        <br>
          <h4 class="modal-title text-center" style="color:#8CBB28">Torre o silla de vigilancia - Balizamiento de Zonas de Baño Marítima</h4>
          <p-table>
            <ng-template pTemplate="header">
              <tr>
                <th colspan="3" class="tamanhofont">Número</th>
                <th colspan="3" class="tamanhofont">PVP Unitario</th>
                <th colspan="3" class="tamanhofont">Amortización Anual</th>
                <th colspan="3" class="tamanhofont">PVP €/año</th>
                <th rowspan="2" class="tamanhofont">PVP Total Anual</th>
              </tr>
              <tr>
                <th class="tamanhofont">Longitud cuerda(m)</th>
                <th class="tamanhofont">Boyas amarillas</th>
                <th class="tamanhofont">Señales de prohibición</th>

                <th class="tamanhofont">Longitud cuerda(m)</th>
                <th class="tamanhofont">Boyas amarillas</th>
                <th class="tamanhofont">Señales de prohibición</th>

                <th class="tamanhofont">Longitud cuerda(m)</th>
                <th class="tamanhofont">Boyas amarillas</th>
                <th class="tamanhofont">Señales de prohibición</th>

                <th class="tamanhofont">Longitud cuerda(m)</th>
                <th class="tamanhofont">Boyas amarillas</th>
                <th class="tamanhofont">Señales de prohibición</th>
              </tr>
            <tr>

                <th class="centrar"><input type="text"  formControlName="long_cuerda" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  formControlName="boyas_amar" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  formControlName="senales_proh" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  formControlName="long_cuerda_pvp" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  formControlName="boyas_amar_pvp" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  formControlName="senales_proh_pvp" class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" placeholder="%" formControlName="long_cuerda_amort"></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" placeholder="%" formControlName="boyas_amar_amort"></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" placeholder="%" formControlName="senales_proh_amort"></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" readonly></th>
                <th class="centrar"><input type="text"  class="form-control  inputCustom" readonly></th>
            </tr>
              </ng-template >
          </p-table>

          <br>
            <h4 class="modal-title text-center" style="color:#8CBB28">Balizamiento de canales de lanzamiento varada</h4>
            <p-table>
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="3" class="tamanhofont">Número</th>
                  <th colspan="3" class="tamanhofont">PVP Unitario</th>
                  <th colspan="3" class="tamanhofont">Amortización Anual</th>
                  <th colspan="3"  class="tamanhofont">PVP €/año</th>
                  <th rowspan="2" class="tamanhofont">PVP Total Anual</th>
                </tr>

                <tr>

                  <th class="tamanhofont">Boyas amarillas</th>
                  <th class="tamanhofont">Boyas verdes</th>
                  <th class="tamanhofont">Boyas rojas</th>



                  <th class="tamanhofont">Boyas amarillas</th>
                  <th class="tamanhofont">Boyas verdes</th>
                  <th class="tamanhofont">Boyas rojas</th>



                  <th class="tamanhofont">Boyas amarillas</th>
                  <th class="tamanhofont">Boyas verdes</th>
                  <th class="tamanhofont">Boyas rojas</th>



                  <th class="tamanhofont">Boyas amarillas</th>
                  <th class="tamanhofont">Boyas verdes</th>
                  <th class="tamanhofont">Boyas rojas</th>

                </tr>
              <tr>


                  <th class="centrar"><input type="text"  formControlName="boyas_amar_ba" class="form-control  inputCustom" readonly></th>
                  <th class="centrar"><input type="text"  formControlName="boyas_verd_ba" class="form-control  inputCustom" readonly></th>
                 <th class="centrar"><input type="text"   formControlName="boyas_roj_ba" class="form-control   inputCustom" readonly></th>


                 <th class="centrar"><input type="text"   formControlName="boyas_amar_ba_pvp" class="form-control  inputCustom"  readonly></th>
                 <th class="centrar"><input type="text"   formControlName="boyas_verd_ba_pvp" class="form-control  inputCustom"  readonly ></th>
                 <th class="centrar"><input type="text"   formControlName="boyas_roj_ba_pvp" class="form-control  inputCustom"  readonly></th>

                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  placeholder="%" formControlName="boyas_amar_ba_amort"></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  placeholder="%" formControlName="boyas_verd_ba_amort"></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  placeholder="%" formControlName="boyas_roj_ba_amort"></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  readonly></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  readonly></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  readonly></th>
                 <th class="centrar"><input type="text"   class="form-control  inputCustom"  readonly></th>

              </tr>
                </ng-template >
            </p-table>

      </div>
      <p></p>

      <div class="modal-footer botonCentrado">
        <button type="submit" class="btn btn-primary">Calcular</button>
      </div>
  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Modal tiempo atmosferico-->
<div id="tiempo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-custom text-center">
        <h4 class="modal-title text-color-grey-646464 font-weight-700 padding-bottom-20 position-relative text-capitalize text-center">Predicción del tiempo</h4>
        <h3 *ngIf="nombre_playa" class="modal-title  font-weight-700 padding-bottom-20 position-relative text-capitalize text-center" style="color:#FB9605">{{!nombre_playa ? 'Nombre sin asignar' : nombre_playa | titlecase}}</h3>
        <h5> {{fechaActual | date:'dd-MM-yyyy'}}</h5>
      </div>
      <div class="modal-body text-center">
        <img class="tamanho_img text-center" src="{{urlimageweather}}{{datosclima.weather[0].icon}}.png" title="{{datosclima.weather[0].description}}"><br>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Descripcion:</th>
              <td> {{datosclima.weather[0].description | titlecase}}</td>
            </tr>
            <tr>
              <th scope="row">Temperatura:</th>
              <td>{{datosclima.main.temp}}º</td>
            </tr>
            <tr>
              <th scope="row">Temperatura max:</th>
                <td><span style="color:#F52E1A">{{datosclima.main.temp_max}}º</span></td>
            </tr>
            <tr>
              <th scope="row">Temperatura min:</th>
                <td><span style="color:#0BB6EC">{{datosclima.main.temp_min}}º</span></td>
            </tr>
            <tr>
              <th scope="row">Humedad:</th>
                <td>{{datosclima.main.humidity}}%</td>
            </tr>
            <tr>
              <th scope="row">Presion:</th>
                <td>{{datosclima.main.pressure}} bars</td>
            </tr>
            <tr>
              <th scope="row">V. viento:</th>
                <td>{{datosclima.wind.speed}} m/s</td>
            </tr>
            <tr>
              <th scope="row">Inclinación del viento:</th>
                <td >{{datosclima.wind.deg}}º</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer centrar">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
