<!-- Header Starts -->
<app-navbar></app-navbar>
<!-- Header Ends -->
<section class="blog-header blog-page-padding-top" data-parallax="scroll"
  data-image-src="assets/images/play.jpg"
  style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
<div class="container">
 <div class="padding-top-30 padding-bottom-70">
     <h2 
	 	class="top20 bottom10 text-color-white text-center"
	>
		Generador de Planos
	</h2>
 </div>
</div>
</section>

<!-- <div class="container">

	<div class="pdf">
		<h4>Documentos</h4>
		<div class="col-md-12 col-sm-12 text-justify padding-bottom-30 padding-top-30">
			<p>
				<strong>
					Documentación de ayuda a la redacción de los Planos de Seguridad 
					y Salvamento de las playas y ZBM catalogadas como libres 
					o peligrosas con Grado de Protección moderado o alto.
				</strong>
			</p>
		<div class="padding-bottom-30"></div>                        
		<a href="./assets/documents/Guia_Tecnica_PSS .pdf" 
			target="blank">
			<strong> Gu&iacute;a T&eacute;cnica Plan Seguridad y Salvamento en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
		</a>
		<p>
			DECRETO 116/2018, de 30 de julio, por el que se regulan medidas para la aplicación de las normas e instrucciones para la seguridad humana y para la coordinación de las emergencias ordinarias y de protección civil en playas y otras zonas de baño marítimas de la Comunidad Autónoma de Canarias.
		</p>
		<a href= "./assets/documents/Plantilla_PSS.doc" 
			target="blank">
			<strong>Plantilla del Plan de Seguridad y Salvamento (DOC) </strong>
		</a>
		<br>
	
		<a href="./assets/documents/Plantilla_PSS.odt"
			target="blank">
			<strong>Plantilla del Plan de Seguridad y Salvamento (OPT)</strong>
		</a>
		<br>
		<br>

		<a href="./assets/documents/PSS_Tipo.pdf" 
			target="blank">
			<strong>Plan de Seguridad y Salvamento (Plan Tipo para Playas y Zonas de Ba&ntilde;o con Grado de protecci&oacute;n alto y moderado)</strong>
		</a>
			<p>
				Es objetivo del presente Plan tipo de Seguridad y Salvamento en Playas y Zonas de Baño Marítimas, ser una herramienta para los profesionales que vayan a redactar los Planes de Seguridad y Salvamento en Playas y Zona de Baño Marítimas, determinados por el artículo 5 del DECRETO 116 / 2018 dando orientaciones para su redacción.
			</p>
		<br>
		<a href="./assets/documents/Guia_Revision_PSS.pdf" 
			target="blank">
			<strong>Gu&iacute;a Metodol&oacute;gica para la Revisi&oacute;n de Plan Seguridad y Salvamento en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
		</a>
			<p>
				La presente Guía Metodológica tiene por objeto facilitar y centrar los elementos de análisis de los Planes de Seguridad y Salvamento, con el objeto de cumplir con las prescripciones recogidas en el Articulo 6.4 del Decreto 116/2018.
			</p>
		<br>
		<a href="./assets/documents/Guia_tramite.pdf" 
		target="blank">
		<strong>Gu&iacute;a de Tramitaci&oacute;n electr&oacute;nica de los Planes de Seguridad y Salvamento</strong>
		</a>
			<p>
				Para la inscripción en el Registro Autonómico de Planes de Seguridad y Salvamento en Playas y Zonas de Baño Marítimas debe dirigirse a la sede electrónica del Gobierno de Canarias, en el siguiente enlace Registro.
			</p>
		</div>

	</div>
</div>    -->
<!-- Propuesta -->
<!-- 

<div class="container">
	<div class="pdf">
	  <h4>Documentos</h4>
	  <ul class="pdf-list">
		<li class="pdf-item">
			<div class="description">
				Guía Técnica para la redaccion de los Planes de Seguirdad y Salvamento en Playas y Zona de Baño Marítimas, determinados por el artículo 5 del DECRETO 116 / 2018 y ampliar la información que recoge el propio Decreto, en cuanto a los contenidos mínimos de dichos Planes, dando orientaciones para su redacción
			</div>
			<a href="./assets/documents/Guia_Tecnica_PSS .pdf" 
			target="blank">
				<strong> Gu&iacute;a T&eacute;cnica en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
			</a>
			<div>
				<ul >
					<li class="pdf-item">
						<p>
							Plantillas para la edición de los Planes
						</p>
					</li>
					<li>
						<ul class="">
							<li class="pdf-item">
								<a href= "./assets/documents/Plantilla_PSS.doc" 
								target="blank">
									<strong>Plantilla en formato Word (DOC) </strong>
								</a>
							</li>
							<li class="pdf-item">
								<a href="./assets/documents/Plantilla_PSS.odt"
									target="blank">
									<strong>Plantilla en formato Libre (OPT)</strong>
								</a>
							</li>
						</ul>

					</li>
				</ul>


			</div>
		</li>
		<li class="pdf-item">
			<div class="description">
				Plan tipo de Seguridad y Salvamento es una herramienta
				complementaria, junto con la Guía Técnica de Planes de Seguridad y Salvamento en
				Playas y Zonas de Baños Marítimas, (ZBM) además, pretende unificar criterios y
				metodología de trabajo entre los propios Técnicos Redactores, de manera que
				aunque con los matices propios y singulares de cada Playa o Zona de Baño Marítima,
				haya una cierta uniformidad en la estructura y contenidos de dichos documentos,
				más allá de los meramente formales, ya determinados por el ANEXO II del propio
				DECRETO 116 / 2018.
			</div>
			<a href="./assets/documents/PSS_Tipo.pdf" 
			target="blank">
				<strong>Plan Tipo para Playas y Zonas de Ba&ntilde;o con Grado de protecci&oacute;n alto y moderado</strong>
			</a>
		</li>
		<li class="pdf-item">
			<div class="description">
				Guía Metodológica tiene por objeto facilitar y centrar los elementos de
				análisis de los Planes de Seguridad y Salvamento, con el objeto de cumplir con las
				prescripciones recogidas en el Articulo 6.4 del Decreto 116/2018.
				La información y datos de los Planes de Seguridad y Salvamento a revisar y evaluar,
				previos a realizarse el registro de estos en el correspondiente registro de Planes de
				Playas de Canarias, son aquellos elementos considerados imprescindibles y
				fundamentales.
			</div>

			<a href="./assets/documents/Guia_Revision_PSS.pdf" 
			target="blank">
			<strong>Gu&iacute;a Metodol&oacute;gica para la Revisi&oacute;n en Playas y Zonas de Ba&ntilde;o Mar&iacute;timas</strong>
		</a>
		</li>
	  </ul>

	</div>
</div>  

 -->
 <!-- <div class="col-md-12 col-sm-12 text-justify padding-bottom-10">
	<p>
	  <strong>
		Herramienta para visualizar estadísticamente datos relativos a los Planes de Seguridad y Salvamento de las diferentes Playas y Zonas de Baño Maritimas
	  </strong>
	</p>                        
  </div>
  <div class="col-md-12">
	<iframe width="100%" height="850" title="Accesos, riesgos, instalaciones y equipamientos"
	  src="https://gesplangis.es/arcgis/apps/dashboards/ce89c3a6cb6a4f87b47b94a9b74b2162">
	</iframe>
	<div>
	  <a 
		href="https://gesplangis.es/arcgis/apps/dashboards/ce89c3a6cb6a4f87b47b94a9b74b2162" 
		class=""
		target="_blank"  
	  >
	  Ver en ventana completa
	  </a>

	  <button class="code" (click)="copyClipBoard()">
		<b>
			<span class="lt">&lt;</span>
			<span> / </span>
			<span style="color:#FE7A1C; padding-top: 10px;">&gt;</span>
		</b>
	  </button>
	</div>
  </div>
  -->
<section id="shop" class="paddingtopbottom100px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 cart_table wow fadeInUp" data-wow-delay="300ms">
		<h4>Herramienta autom&aacute;tica de Generaci&oacute;n de Planos</h4>
		<div class="col-md-12 col-sm-12 text-justify padding-bottom-30 padding-top-30">
			<!-- se quito  el __asistencia para 'los ayuntamientos'__-->
			<p>
				<strong>
					Herramienta de asistencia para 
					la generación de cartografía que sirva de base para 
					la realización de los planos que deben 
					figurar en los Planes de Seguridad y Salvamento.
				</strong>
			</p>                        
		</div>
        <iframe [src]="urlMap" width="100%" height="1100px" style="border: 0px solid !important"></iframe>
      </div>
      <p>Última actualzación 28/12/2020</p>
    </div>
  </div>  
</section>
