.logo-nav{
    height: 50px;
    width: auto;
    margin: 10px;
}

nav{
    top:0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: black;
}
a.font-style-1{
    font-size: 15px;
    color: #337ab7;
}
.fixed-menu> ul{
    padding-left: 1em;
}

ul#smallmenu{
    justify-content: space-between;
    overflow: hidden;
}
/* .login{
    color:#00BCD4 !important;
} */

.dropdown{
    cursor: pointer;
}

.dropdown > div{
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 24px 15px;
    margin: 0 5px;
    position: relative;
    z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 100;
    padding: 8px;
    min-width: 250px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li{
    font-size: medium;
}

.dropdown-content li:not(:last-child){
    padding-bottom: 8px;
}

@media (max-width:995px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
}

