<header class="top-menu">
    <!-- Navigation Starts -->
    <nav class="navbar top40px white-background static-nav box-nav">
        <div style="display: flex;">
            <img class="logo-nav" src="assets/images/logos/logo_bueno2.png">

            <div class="navbar-header">
                <button id="menu_bars" type="button" class="toggle-right navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#smallmenu" aria-expanded="false"
                        (click)="handleNav()"
                    >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right navlinks-outer toggle collapse navbar-collapse"
            id="smallmenu">
            <li class="nav-tab"
                *ngIf="!this.logged"
                id="tab-home"
            >
                <a class="font-style-1 nav-item scroll"
                    [routerLink]="['/']" 
                >Inicio</a>
            </li>
            <li class="nav-tab dropdown"
            >
                <div class="font-style-1"
                    id="tab-maps"
                >
                    Visores
                </div>
                <ul class="dropdown-content">
                    <li class="nav-tab">
                        <a class="font-style-1" 
                            [routerLink]="['/catalogo']"
                        >
                            Catálogo
                        </a>
                    </li>
                    <li>
                        <a class="font-style-1" 
                            href="https://webmap.infoplayascanarias.es/"
                            target="_blank"
                        >
                            Visor en tiempo real
                        </a>
                    </li>
                    <li>
                        <a class="font-style-1" 
                            [routerLink]="['/trabajo-campo']"
                        >Trabajo Campo</a>
                    </li>
                </ul>
            </li>

            <li class="nav-tab dropdown">
                <!-- <div 
                    class="font-style-1"
                    id="tab-dashboards"
                >
                    Cuadros de Mando
                </div> -->
                <div 
                    class="font-style-1"
                    id="tab-dashboards"
                >
                    Estadísticas
                </div> 
                <ul class="dropdown-content">
<!-- 
                    <li>
                        <a class="font-style-1" 
                            [routerLink]="['/cecoes']"
                        >Control de Incdencias/Incdentes en Medio acuatico</a>
                    </li> -->

                    <li>
                        <a class="font-style-1" 
                            [routerLink]="['/cecoes']"
                        >Personas fallecidas en el mar</a>
                    </li>
                    <li>
                        <a class="font-style-1" 
                            [routerLink]="['/cecoes-fallecias-acumulativos']"
                        >Personas fallecidas en el mar (acumulado)</a>
                    </li>
                    <li class="nav-tab">
                        <a class="font-style-1" 
                            [routerLink]="['/dashboard-pss']"
                        >
                            Planes de seguridad y salvamento
                        </a>
                    </li>
                </ul>
            </li> 
            <li class="nav-tab dropdown">
                <div 
                    class="font-style-1"
                    id="tab-assistant"
                >
                    Apoyo Técnico
                </div>
                <ul class="dropdown-content">
                    <li class="nav-tab">
                        <a class="font-style-1" 
                            [routerLink]="['/planos']"
                        >
                            Generador de Planos
                        </a>
                    </li>
                    <li>
                        <a class="font-style-1" 
                            [routerLink]="['/documents']"
                        >Documentos</a>
                    </li>
                </ul>
            </li> 
            <!-- <li class="nav-tab"
                id="tab-catalogo"
            >
                <a class="font-style-1" 
                    [routerLink]="['/catalogo']"
                >Catálogo</a>
            </li> 
            <li class="nav-tab"
                id="tab-planos"
            >
                <a class="font-style-1" 
                    [routerLink]="['/planos']"
                >PSS</a>
            </li> 
            <li class="nav-tab"
                id="tab-cecoes"
            >
                <a class="font-style-1" 
                    [routerLink]="['/cecoes']"
                >Incidentes</a>
            </li> 
            <li class="nav-tab"
                id="tab-trabajo-campo"
            >
                <a class="font-style-1" 
                    [routerLink]="['/trabajo-campo']"
                >Trabajo Campo</a>
            </li> 
            <li class="nav-tab">
                <a class="font-style-1" 
                    href="https://webmap.infoplayascanarias.es/"
                    target="_blank"
                >Visor</a>
            </li>  -->
            <!-- <li class="nav-tab">
                <a  class="font-stile-1"
                    [routerLink]="['/dashboards']"
                >Cuadros de Mando</a>
            </li> -->

            <ng-template [ngIf]="this.isMunicipality || this.isAdmin">
                <li class="nav-tab"
                    id="tab-reports"
                >
                    <a 
                        class="font-style-1"
                        [routerLink]="['/reports']"
                    >
                        Informes Cuatrimestrales
                    </a>
                </li>
                <!-- <li class="nav-tab">
                    <a 
                        class="font-stile-1"
                        [routerLink]="['/incidents']"
                    >
                        Añadir Incidencia
                    </a>
                </li> -->

            </ng-template>
            
            <!-- <ng-template [ngIf]="this.isAdmin">
                <li class="nav-tab">
                    <a 
                        class="font-stile-1"
                        [routerLink]="['/downloads']"
                    >
                        Descargar Informes
                    </a>
                </li>
            </ng-template> -->
            <li 
                class="nav-tab dropdown"
                *ngIf="!this.logged; else logout"
            >
                <div 
                    class="font-style-1"
                    id="tab-login"
                    title="Ayuntamientos y Empresas de socorrismo"
                >
                    <a href="http://socorrismo.infoplayascanarias.es" target="_blank" rel="noopener noreferrer">
                        Acceso Privado
                    </a>
                    
                </div>
                <!-- <ul class="dropdown-content">
                    <li class="nav-tab">
                        <a class="font-style-1"
                            [routerLink]="['/login']"
                        >Acceso Ayuntamientos</a>
                    </li>
                    <li>
                        <a class="font-style-1" 
                            href="https://socorrismo.infoplayascanarias.es/"
                            target="_blank"
                        >
                            Acceso Introducción De Banderas
                        </a>
                    </li>
                </ul> -->
            </li> 
            <ng-template #logout>
                <li class="nav-tab"

                >
                    <a class="font-style-1" 
                        (click)="log_out()"
                    >Cerrar sesión
                    </a>

                </li>

            </ng-template>
            <li class="nav-tab"
                id="tab-login"
                *ngIf="!this.logged"
            >

            </li>
            <!--						<li class="nav-tab">-->
            <!--							<a href="#contact" class="font-style-1 nav-item scroll">contáctanos</a>-->
            <!--						</li>-->
        </ul>
    </nav>
</header>