<!--Preloader-->
<!-- Preloader ends-->
<div class="wrapper" id="wrapper">
    <!-- Header Starts -->
    <app-navbar></app-navbar>
    <!-- Header Ends -->

    <!-- Header Section End -->
    <section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src=""
    style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4 vcenter">
                     <!-- <h2 class="font-size-72px top20 bottom10 text-color-white text-capitalize">
                        {{user.municipalityEntity[0]}}</h2> -->
                </div>
                <div class="col-xs-2 vcenter">
                    <!-- <img pTooltip="Imágenes sin modificar creadas por José Manuel Erbez. Islas Canarias, España - Esta obra está bajo una licencia de Creative Commons - simbolosdecanarias"
                        [src]="authService.getCurrentUser().filter ? 'assets/images/escudos/ayto_' + authService.getCurrentUser().filter + '.png' :
                     'assets/images/logos/Logotipo_del_Gobierno_de_Canarias.png'" alt="escudo ayuntamiento"
                        class="img-responsive" [style.max-height.px]="100"
                        > -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Section Starts -->
<section id="welcome" class="main-section z-index100">
    <section>
        <!-- 4 boxes Starts  -->
        <div class="features-bg">
            <div class="container width-100">
                <div class="row">
                    <div class="over-information">
                        <div class="four-boxes max-width">
                            <div class="information-icon">
                                <div class="wordpress">
                                    <i class="fa fa-map-o"></i>
                                    <h5 class="font-style-1 font-weight-300 text-capitalize"><strong>catálogo</strong></h5>
                                    <p class="font-weight-100 bottom0" align="justify">
                                        Acceso al Catálago General de Playas y Zonas de Ba&ntilde;o Mar&iacute;timas de Canarias
                                        en el que se representan cartogr&aacute;ficamente las zonas catalogadas y se muestra informaci&oacute;n
                                        asociada a cada elemento: Clasificaci&oacute;n, grado de protecci&oacute;n, servicios, forma de acceso,
                                        horario de socorrismo, etc.
                                       
                                    </p>
                                </div>
                                <div class="joomla">
                                    <i class="fa fa-bars"></i>
                                    <h5 class="font-style-1 font-weight-300  text-capitalize"><strong>Cuadros de Mando</strong></h5>                                   
                                    
                                    <p class="font-weight-100" align="justify">
                                        Herramienta para visualizar estadísticamente datos relativos a accesos, riesgos, instalaciones y equipamientos
                                        de las playas y zonas de ba&ntilde;o mar&iacute;tima, as&iacute; como los incidentes graves o muy graves registrados
                                        por CECOES desde el a&ntilde;o 2018.
                                                                      
                                </div>
                                <div class="drupal">
                                    <i class="fa fa-tablet"></i>
                                    <h5 class="font-style-1 font-weight-300 " align="justify"><strong>PSS y Planos</strong></h5>
                                  <p class="font-weight-100" align="justify">
                                       Documentación de ayuda a la redacci&oacute;n de los Planos de Seguridad y Salvamento de las playas y ZBM catalogadas como libres 
                                       o peligrosas con Grado de Protecci&oacute;n moderado o alto.
                                       Herramienta de asistencia a los ayuntamientos para la generaci&oacute;n de cartograf&iacute;a que sirva de base para la realizaci&oacute;n 
                                       de los planos que deben figurar en los Planes de Seguridad y Salvamento.
                                  </p>
                                  
                                   
                                </div>
                                <div class="css3">
                                    <i class="fa fa-sticky-note-o"></i>
                                    <h5 class="font-style-1 font-weight-300 text-capitalize" align="justify"><strong>informes</strong></h5>
                                    <p class="font-weight-100" align="justify">
                                        Herramienta para generar informes cuatrimestrales que el municipio debe presentar al CECOES acerca de las incidencias en playas y ZBM 
                                        del municipio (Art&iacute;culo 19 del Decreto 116/2018).
                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 boxes ends -->
    </section>
    <!-- Main Section ends -->
    <div id="features" class="transform-88px">
    </div>
    <section class="padding-top-70 padding-bottom-30">
        <div class="container" style="text-align:center;">
            <div class="row">
                <!-- esquema -->
          
            </div>
        </div>
    </section>
    
    <!-- <section class="features-bg" id="diagrama" *ngIf="isAdmin">
		<div class="row">
			<div class="video-container col-md-12" tabindex="5" >    
                    <video autoplay controls class="visible-lg col-md-12" tabindex="5">       
                        <source src="./assets/video/diagrama.mp4" type="video/mp4; " />
                                        
                    </video>
			</div>
		</div>
	</section> -->



    <section class="padding-top-70 padding-bottom-30">
        <div class="container">
            <div class="col-md-4 testimonial">
                <div class="information-written-data">
                    <h2 class="border-color-blue-5 text-color-grey paddingleft10px text-capitalize margin-top0"><span
                            class="green-color"> glosario</span> <br> tecnicismos</h2>
                    <!-- Swiper -->
                </div>
            </div>
            <div class="row">
                <div class="swiper-container swiper-pagination-bottom swiper-three-slides">
                    <div class="swiper-wrapper cursor">
                        <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                            <div class="testimonia-block center-col">
                                <div class="quote2">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="slider-box1 features-bg text-center padding70px35px">
                                    <p class="testimonial-p">Código de identificación de las Playas y otras Zonas de
                                        Baño
                                        Marítimas. Ministerio de Agricultura, Pesca, Alimentaci&oacute;n y Medio Ambiente.</p>
                                </div>
                                <div class="profile-box">
                                    <div class="profile-box-img">
                                        <img src="assets/images/swiper_1.png" alt="">
                                    </div>
                                    <div class="width-100">
                                        <h6 class="text-capitalize">Guia de Playas Nacional</h6>
                                        <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                            href="http://sig.mapama.es/guia-playas/">Publicación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                            <div class="testimonia-block center-col">
                                <div class="quote2">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="slider-box2 features-bg text-center padding70px35px">
                                    <p class="testimonial-p">C&oacute;digo de identificaci&oacute;n de Playas y otras
                                        Zonas
                                        de Baño Mar&iacute;timas, del Gobierno de Canarias. Consejer&iacute;a de
                                        Transici&oacute;n
                                        Ecol&oacute;gica,
                                        Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.
                                </div>
                                <div class="profile-box">
                                    <div class="profile-box-img">
                                        <img src="assets/images/id-card-alt-solid.svg" alt="">
                                    </div>
                                    <div class="width-100">
                                        <h6 class="text-capitalize">ID Pilotaje Litoral Canario</h6>
                                        <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                            href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px swiper-slide-active">
                            <div class="testimonia-block center-col">
                                <div class="quote2">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="slider-box2 features-bg text-center padding70px35px">
                                    <p class="testimonial-p">A los efectos del Proyecto de Decreto 116/2018
                                        (Art&iacute;culo
                                        2),aquellas balizadas como tales, as&iacute; como los lugares p&uacute;blicos de
                                        baño en la zona de mar
                                        contigua a las playas o a otros lugares de costa en los que el baño no
                                        est&eacute;
                                        expresamente prohibido por la Administraci&oacute;n competente.
                                        Cuando no exista balizamiento se entender&aacute; que dicha zona abarca la
                                        franja de
                                        mar contigua con un ancho de 200 metros desde la playa y de 50 metros desde el
                                        resto
                                        de la costa.
                                </div>
                                <div class="profile-box">
                                    <div class="profile-box-img">
                                        <img src="assets/images/swimmer-solid.svg" alt="">
                                    </div>
                                    <div class="width-100">
                                        <h6 class="text-capitalize">Otras Zonas de Baño Mar&iacute;timas</h6>
                                        <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                            href="http://www.gobiernodecanarias.org/boc/2018/152/002.html">Publicación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 swiper-slide swiper-slide-top-40px">
                            <div class="testimonia-block center-col">
                                <div class="quote2">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="slider-box3 features-bg text-center padding70px35px">
                                    <p class="testimonial-p">Frente de la playa de arena que se puede usar para el ocio
                                        y
                                        baño, descrita por la suma de la zona h&uacute;meda y la zona seca.
                                        Editor: Gobierno de Canarias. Consejer&iacute;a de Transici&oacute;n
                                        Ecol&oacute;gica,
                                        Lucha Contra en Cambio Cl&iacute;matico y Planificaci&oacute;n Territorial.</p>
                                </div>
                                <div class="profile-box">
                                    <div class="profile-box-img">
                                        <img src="assets/images/umbrella-beach-solid.svg" alt="">
                                    </div>
                                    <div class="width-100">
                                        <h6 class="text-capitalize">Superficie &uacute;til</h6>
                                        <a class="testimonial-p blue-color text-capitalize" target="_blank"
                                            href="http://www.pilotajelitoralcanario.es">Publicación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="site-footer" class="padding_half footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <!--                    <ul class="social-icons bottom25 wow" data-wow-delay="300ms">-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-facebook"></i> </a></li>-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-twitter"></i> </a></li>-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-whatsapp"></i> </a></li>-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-google"></i> </a></li>-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-pinterest-p"></i> </a></li>-->
                    <!--                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-instagram"></i> </a></li>-->
                    <!--                    </ul>-->
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
                            class="copyrights">© 2019 Gesplan S.A.</span></p>
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
                            class="copyrights">Área de Innovación <a href="javascript:void(0)">y Desarrollo</a> </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->
<!-- Wrapper ends -->