<!-- Header -->
<ng4-loading-spinner [timeout]="10000" [threshold]="500"></ng4-loading-spinner>
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">incidentes en medio
                acuático</h2>
        </div>
    </div>
</section>
<!-- Header End -->
<!-- seccion -->
<section class="padding-top-70 padding-bottom-30">
    <div class="container">
        <button (click)="test()">PULSA</button>
    </div>
</section>
