<!-- Header -->
<ng4-loading-spinner [timeout]="10000" [threshold]="500"></ng4-loading-spinner>
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/play.jpg"
         style="background-image: url('assets/images/play.jpg'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="padding-top-30 padding-bottom-70">
            <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">incidentes en medio
                acuático</h2>
        </div>
    </div>
</section>
<!-- Header End -->
<!-- seccion -->
<section class="padding-top-70" [hidden]="!botones">
    <div class="container">
        <div id="buttonBar" class="row">
            <div class="col-sm text text-center">
                <ul class="nav nav-pills">
                    <li role="presentation" [ngClass]="{'active': !viewEditor}"><a href="#"
                                                                                   (click)="$event.preventDefault(); unselectOnMap(); pickAlocation()">Nuevo
                        incidente</a></li>
                    <li role="presentation" [ngClass]="{'active': viewEditor}"><a href="#"
                                                                                  (click)="$event.preventDefault(); viewEditor = true ; unselectOnMap()">Editar
                        incidentes</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!--mapa para visualizar y editar incidentes-->
<section class="padding-top-15 padding-bottom-30" [hidden]="!mapa">
    <div [ngClass]="viewEditor?'container':'container disabled'">
        <div id="map" class="row">
            <div class="col-sm-12">
                <app-map-viewer-drownings
                        [mapHeight]="mapHeightContainer"
                        [zoom]="mapZoomLevel"
                        [events]="eventsSubject.asObservable()"
                        (selectedIncidentId)="receiveIncidentId($event)"
                        [aytosEsriDomain]="aytosEsriDomain">
                </app-map-viewer-drownings>
            </div>
        </div>
    </div>
</section>
<!--formulario de incidencias-->
<section [ngClass]="(!mapa)?'padding-top-70 padding-bottom-30':'padding-bottom-30'"
         [hidden]="!formulario">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form [formGroup]="formPrincipal" (ngSubmit)="enviar()">
                    <!-- panel del identificador -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">ID {{incidentId}}</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label for="incidente">Identifcador del CECOES</label>
                                <input type="text" formControlName="incidente" class="form-control" id="incidente">
                                <small class="form-text text-muted">Número de registro del CECOES
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="expte">Expediente</label>
                                <input type="text" formControlName="expte" class="form-control" id="expte">
                                <small class="form-text text-muted">Número de expediente, relativo al decreto 116/2018
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="socorristas">Socorristas</label>
                                <input type="text" formControlName="socorristas" class="form-control" id="socorristas">
                                <small class="form-text text-muted">NIP de los socorristas intervinientes separados por
                                    comas
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="fuen_datos">Fuente de datos</label>
                                <input type="text" formControlName="fuen_datos" class="form-control" id="fuen_datos">
                                <small class="form-text text-muted">Determinar quién facilita el testimonio: nombre,
                                    puesto
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- panel tiempo -->
                    <div class="panel panel-success">
                        <div class="panel-heading">Tiempo</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label for="fecha">Fecha</label><br>
                                <p-calendar formControlName="fecha" id="fecha" [showIcon]="true"
                                            [locale]="es" dateFormat="dd/mm/yy"
                                            placeholder="Requerido *"
                                            (onClose)="expand = 0"></p-calendar>
                                <br>
                                <small class="form-text text-muted">Seleccione la fecha de la intervención</small>
                            </div>
                            <div [style.padding-top.px]="expand === 1 ? '1190' : '0'" class="form-group form-group-sm">
                                <label for="playa">Hora conocimiento</label><br>
                                <p-calendar [defaultDate]="dDate" [readonlyInput]="true" dateFormat="HH/mm"
                                            formControlName="hora_conocimiento" id="hora_conocimiento" [showIcon]="true"
                                            [timeOnly]="true" placeholder="Requerido *"
                                            (onClose)="expand = 0" (click)="expand = 2"
                                            (onSelect)="expand = 2"></p-calendar>
                                <br>
                                <small class="form-text text-muted">Seleccione la hora en la que se tiene conocimiento
                                    por parte del alertante
                                </small>
                            </div>
                            <div [style.padding-top.px]="expand === 2 ? '90' : '0'" class="form-group form-group-sm">
                                <label for="playa">Hora toma tierra</label><br>
                                <p-calendar [defaultDate]="dDate" class="custom" [readonlyInput]="true"
                                            dateFormat="HH/mm"
                                            formControlName="hora_toma" id="hora_toma" [showIcon]="true"
                                            [timeOnly]="true" placeholder="Requerido *"
                                            (onClose)="expand = 0" (click)="expand = 3"
                                            (onSelect)="expand = 3"></p-calendar>
                                <br>
                                <small class="form-text text-muted">Seleccione la hora en que se saca del agua</small>
                            </div>
                            <div [style.padding-top.px]="expand === 3 ? '90' : '0'" class="form-group form-group-sm">
                                <label for="playa">Hora derivación</label><br>
                                <p-calendar [defaultDate]="dDate" class="custom" [readonlyInput]="true"
                                            dateFormat="HH/mm"
                                            formControlName="hora_derivacion" id="hora_derivacion" [showIcon]="true"
                                            [timeOnly]="true" placeholder="Requerido *"></p-calendar>
                                <br>
                                <small class="form-text text-muted">Seleccione la hora en que se traslada según
                                    protocolo
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- panel lugar -->
                    <div class="panel panel-info">
                        <div class="panel-heading">Lugar</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label for="isla">Isla</label>
                                <input type="text" formControlName="isla" class="form-control" id="isla"
                                       aria-describedby="isla" readonly>
                                <small class="form-text text-muted">Isla donde ocurre el incidente</small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="municipio">Municipio</label>
                                <input type="text" formControlName="municipio" class="form-control" id="municipio"
                                       readonly>
                                <small class="form-text text-muted">Municipio en el que ocurre la incidencia
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="codigo_dgse">ID DGSE</label>
                                <input type="text" formControlName="codigo_dgse" class="form-control" id="codigo_dgse"
                                       readonly>
                                <small class="form-text text-muted">Código de la playa /ZBM de la DGSE
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="playa">ZONA</label>
                                <input type="text" formControlName="complemento_directo" class="form-control" id="playa"
                                       readonly>
                                <small class="form-text text-muted">Zona indicada, playa, como lugar de la intervención
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="playa_zbm">ZBM</label>
                                <input type="text" formControlName="playa_zbm" class="form-control" id="playa_zbm"
                                       readonly>
                                <small class="form-text text-muted">Denominación según decreto 116/2018
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="bandera">BANDERA IZADA</label>
                                <select formControlName="bandera" class="form-control" id="bandera">
                                    <option>Verde</option>
                                    <option>Amarilla</option>
                                    <option>Roja</option>
                                    <option>No procede</option>
                                </select>
                                <small class="form-text text-muted">Indicar color de la bandera, si procede
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- panel persona -->
                    <div class="panel panel-warning">
                        <div class="panel-heading">Añadir personas afectadas</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#personasModal">Añadir personas afectadas
                                </button>
                            </div>
                            <table class="table table-responsive">
                                <tr class="textSize">
                                    <th>Sexo</th>
                                    <th>Fecha nacimiento</th>
                                    <th>Lugar nacimiento</th>
                                    <th>País nacimiento</th>
                                    <th>Lugar de residencia</th>
                                    <th>País de residencia</th>
                                    <th>Eliminar</th>
                                </tr>
                                <tr *ngFor="let persona of personasArray">
                                    <td>{{persona.genero}}</td>
                                    <td>{{persona.fecha_nacimiento | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{persona.lnacimiento}}</td>
                                    <td>{{persona.pnacimiento}}</td>
                                    <td>{{persona.municipio_estancia}}</td>
                                    <td>{{persona.presidencia}}</td>
                                    <td class="text text-center"><span (click)="borrarPersona(persona)"
                                                                       class="glyphicon glyphicon-trash pointer"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- panel recursos -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">Recursos</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label for="servicio">Servicio socorrismo en activo</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="servicio" value="1" checked>
                                        Servicio activo
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="servicio" value="0">
                                        Servicio desactivado
                                    </label>
                                </div>
                                <small id="servicio" class="form-text text-muted">¿El incidente ocurrió con servicio de
                                    socorrismo en activo?
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="tipo">Tipo situación</label>
                                <select class="form-control" id="tipo">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <small class="form-text text-muted">Indicar nivel según legislación
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="nsocorristas">Número de socorristas de servicio</label>
                                <input type="number" class="form-control" id="nsocorristas" min="1">
                                <small class="form-text text-muted">Indicar el número de socorristas de servicio en el
                                    momento de detectar la emergencia
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="nintervinietes">Número intervinietes</label>
                                <input type="number" class="form-control" id="nintervinietes" min="1">
                                <small class="form-text text-muted">Inidicar el número de socorristas que intervienen
                                    directamente en rescatar
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="rmovilizados">Recursos movilizados</label>
                                <select size="9" multiple class="form-control" id="rmovilizados">
                                    <option>SUC</option>
                                    <option>PL</option>
                                    <option>GC</option>
                                    <option>GES</option>
                                    <option>SUC</option>
                                    <option>SM</option>
                                    <option>CEI</option>
                                    <option>GEAS</option>
                                    <option>PCIVIL</option>
                                    <option>CNP</option>
                                    <option>SOC</option>
                                    <option>PL</option>
                                    <option>SASEMAR</option>
                                    <option>FORENSE</option>
                                    <option>PORT</option>
                                    <option>MCS</option>
                                    <option>PPORT</option>
                                    <option>JUEZ</option>
                                </select>
                                <small class="form-text text-muted">Indicar, conforme a la clasificación legal
                                    (0,1,2,3), los recursos movilizados (varias respuestas usar teclas ctrl y/o mayus)
                                </small>
                            </div>

                            <div class="form-group form-group-sm">
                                <label for="rescate">Recursos utilizados en rescate</label>
                                <select size="6" multiple class="form-control" id="rescate">
                                    <option>Helicoptero</option>
                                    <option>A pulso</option>
                                    <option>Se desconoce</option>
                                    <option>Moto acuática</option>
                                    <option>Embarcación</option>
                                    <option>Tubo de rescate</option>
                                    <option>Colchón de vacío</option>
                                    <option>Tabla</option>
                                    <option>Helicóptero</option>
                                    <option>Zodiac</option>
                                    <option>Por su propio pie</option>
                                    <option>Flotador</option>
                                </select>
                                <small class="form-text text-muted">Indicar recursos empleados en rescate (varias
                                    respuestas usar teclas ctrl y/o mayus)
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="rtierra">Recursos utilizados en tierra</label>
                                <select multiple class="form-control" id="rtierra">
                                    <option>Desa</option>
                                    <option>Se desconoce</option>
                                    <option>Vendaje</option>
                                    <option>Ambulancia</option>
                                    <option>Ninguno</option>
                                    <option>Oxígeno</option>
                                    <option></option>
                                </select>
                                <small class="form-text text-muted">Indicar recursos empleados una vez en tierra (varias
                                    respuestas usar teclas ctrl y/o mayus)
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- panel resultados -->
                    <div class="panel panel-success">
                        <div class="panel-heading">Observaciones</div>
                        <div class="panel-body">
                            <div class="form-group form-group-sm">
                                <label for="emar">Estado de la mar</label>
                                <select class="form-control" id="emar">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                                <small class="form-text text-muted">ESCALA DE DOUGLAS</small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="eviento">Estado del viento</label>
                                <select class="form-control" id="eviento">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                <small class="form-text text-muted">ESCALA DE BEAUFORT
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="tiempo">Tiempo atmosférico</label>
                                <select class="form-control" id="tiempo">
                                    <option>Soleado</option>
                                    <option>Nubes y Claros</option>
                                    <option>Nublado</option>
                                    <option>Llovizna</option>
                                    <option>Lluvia intesa</option>
                                </select>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="servicio">Alerta CECOES</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="alerta" value="1">
                                        Existe alerta
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="alerta" value="0" checked>
                                        No existe alerta
                                    </label>
                                </div>
                                <small class="form-text text-muted">Indicar si existe algún tipo de Alerta o prealerta
                                    activa del Cecoes
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="ralerta">Referencia alerta</label>
                                <input type="text" class="form-control" id="ralerta" aria-describedby="ralerta">
                                <small class="form-text text-muted">En caso de alerta o prealerta activa, indicar
                                    referencia, fecha o número de la misma
                                </small>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="situacion">Situación declarada</label>
                                <select class="form-control" id="situacion">
                                    <option>NO</option>
                                    <option>Alerta</option>
                                    <option>Prealerta</option>
                                </select>
                                <small class="form-text text-muted">Seleccione la opción
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- panel de los adjuntos -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">Anexo</div>
                        <div class="panel-body">
                            <div *ngFor="let item of archivos; let i = index">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td width="10%" class="text text-center">
                                            <img class="imgs" [src]="url[i]"/></td>
                                        <td width="80%">{{item.name}}</td>
                                        <td width="10%" class="text text-center"><span (click)="borrarArchivo(item)"
                                                                                       class="glyphicon glyphicon-trash pointer"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-group form-group-sm">
                                <input type="file" name="file-7" id="file-7" class="inputfile inputfile-7"
                                       onclick="this.value = null" (change)="fileChangeEvent($event)" multiple
                                       accept='image/*'/>
                                <label for="file-7">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20"
                                         height="17" viewBox="0 0 20 17">
                                        <path
                                                d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                    </svg>
                                    <span class="iborrainputfile">Seleccionar archivos</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 text-left">
                        <button type="submit" class="btn btn-primary" [disabled]="!formPrincipal.valid">Enviar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn text-danger" (click)="delete()">Eliminar</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <p-progressSpinner [hidden]="!animationProgress" [style]="{width: '38px', height: '38px'}"
                                   strokeWidth="6" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>
        </div>
    </div>
</section>
<!-- inicio de la modal para añadir personas -->
<!-- Modal -->
<div class="modal fade" id="personasModal" tabindex="-1" role="dialog" aria-labelledby="personasModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formPersonas" (ngSubmit)="nuevaPersona()">
                <div class="modal-body">
                    <div class="panel-group" id="accordionPeople" role="tablist" aria-multiselectable="true">
                        <!-- panel datos personales -->
                        <div class="panel panel-default">
                            <div class="panel-heading panel-info" role="tab" id="personalDataPanel">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordionPeople"
                                       href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Datos personales
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="personalDataPanel">
                                <div class="panel-body">
                                    <div class="form-group form-group-sm">
                                        <label>Sexo</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" formControlName="genero" value="hombre">
                                                Hombre
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" formControlName="genero" value="mujer">
                                                Mujer
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="fecha_nacimiento">Fecha de nacimiento</label><br>
                                        <p-calendar [readonlyInput]="true" formControlName="fecha_nacimiento"
                                                    id="fecha_nacimiento" [showIcon]="true"
                                                    placeholder="Fecha nacimiento" [monthNavigator]="true"
                                                    [yearNavigator]="true"
                                                    [locale]="es" dateFormat="dd/mm/yy"
                                                    [yearRange]="yearRange"></p-calendar>
                                        <br>
                                        <small class="form-text text-muted">Seleccione la fecha de
                                            nacimiento
                                        </small>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="lnacimiento">Lugar de nacimiento</label>
                                        <input type="text" formControlName="lnacimiento" class="form-control"
                                               id="lnacimiento">
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="pnacimiento">País de nacimiento</label>
                                        <input type="text" formControlName="pnacimiento" class="form-control"
                                               id="pnacimiento">

                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="municipio_estancia">Municipio durante la estancia</label>
                                        <p-dropdown id="municipio_estancia"
                                                    [options]="aytosEsriDomain"
                                                    [style]="{'width':'100%'}"
                                                    formControlName="municipio_estancia"></p-dropdown>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="presidencia">País de residencia</label>
                                        <input type="text" formControlName="presidencia" class="form-control"
                                               id="presidencia">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel recursos persona -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="resourcesPanel">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordionPeople" href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        Recursos
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="resourcesPanel">
                                <div class="panel-body">
                                    <div class="form-group form-group-sm">
                                        <label for="acciones">Acciones realizadas</label>
                                        <select size="5" multiple class="form-control" id="acciones">
                                            <option>Rescate</option>
                                            <option>Rcp</option>
                                            <option>Provocación de vómito</option>
                                            <option>Oxígeno</option>
                                            <option>Desa</option>
                                            <option>Estabilización</option>
                                            <option>Traslado</option>
                                            <option>Exploración</option>
                                            <option>Inmovilización</option>
                                            <option>Sop. vital avanzado</option>
                                        </select>
                                        <small class="form-text text-muted">Indicar las acciones realizada (varias
                                            respuestas usar teclas ctrl y/o mayus)
                                        </small>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="derivacion">Derivación victima</label>
                                        <select class="form-control" id="derivacion">
                                            <option>Se retira por su propio pie</option>
                                            <option>Ambulancia</option>
                                            <option>Ambulancia medicalizada</option>
                                            <option>Helicóptero</option>
                                            <option>Embarcación</option>
                                            <option>Furgón de traslados</option>
                                            <option>Se desconoce</option>
                                            <option>Traslado forense</option>
                                            <option>Ambulancia y helicóptero</option>
                                        </select>
                                        <small class="form-text text-muted">Indicar derivación de la vícitma
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel desarrollo-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="developmentPanel">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordionPeople" href="#collapseThree" aria-expanded="false"
                                       aria-controls="collapseThree">
                                        Desarrollo
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="developmentPanel">
                                <div class="panel-body">
                                    <div class="form-group form-group-sm">
                                        <label for="dobservaciones1">Observaciones 1</label>
                                        <textarea class="form-control" rows="10" id="dobservaciones1"
                                                  formControlName="dobservaciones1"></textarea>
                                        <small class="form-text text-muted">Descripción Cecoes intervención 1
                                        </small>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="dobservaciones2">Observaciones 2</label>
                                        <textarea class="form-control" rows="10" id="dobservaciones2"
                                                  formControlName="dobservaciones2"></textarea>
                                        <small class="form-text text-muted">Descripción Cecoes intervención 2
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel resultados -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="resultsPanel">
                                <h6 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordionPeople" href="#collapseFour" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        Resultados
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="resultsPanel">
                                <div class="panel-body">
                                    <div class="form-group form-group-sm">
                                        <label for="remergencia">Resultado de la emergencia</label>
                                        <select class="form-control" id="remergencia" formControlName="remergencia">
                                            <option>Ileso</option>
                                            <option>Leve</option>
                                            <option>Grave</option>
                                            <option>Fallecido</option>
                                        </select>
                                        <small class="form-text text-muted">Indicar grado de lesividad o morbilidad bajo
                                            las etiquetas mostradas
                                        </small>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="observaciones">Observaciones</label>
                                        <textarea class="form-control" rows="10" id="robservaciones"
                                                  formControlName="robservaciones"></textarea>
                                        <small id="observaciones" class="form-text text-muted">Indicar observaciones
                                            sobre el resultado final
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>
