<ng4-loading-spinner [timeout]="10000" [threshold]="500"></ng4-loading-spinner>
<div class="container">
    <div class="row padding-bottom-10">
        <div class="col-md-10">
            <i style="color: #1f57ff; margin-top: 2px"
               pTooltip="Seleccione primero una playa y luego un punto para ubicar el incidente."
               class="pull-left fa fa-2x fa-info-circle"></i>
            <label class="info" style="font-weight: bolder; padding-top: 8px">Seleccione primero una playa y luego un punto para ubicar el incidente.</label>
        </div>
        <div class="col-md-2">
            <input [disabled]="!selectedBeachId || !selectedMpPoint" (click)="close()"
                   type="button"
                   [class]="!selectedBeachId || !selectedMpPoint? 'esri-button esri-button--secondary esri-button--disabled' : 'esri-button esri-button--secondary'"
                   value="Añadir"/>
        </div>
    </div>
    <div id="listPlayasViewer" class="panel-side scroller esri-widget esri-hidden">
        <ul id="ulPlayaViewer">
            <li>Cargando&hellip;</li>
        </ul>
    </div>
    <div id="mainContainerViewer" [style.height]="config.data.mapHeight">
        <div id="viewDivViewer"></div>
        <div id="legendDivViewer" class="card custom-widget"></div>
    </div>
</div>
