<ng4-loading-spinner [timeout]="10000" [threshold]="500"></ng4-loading-spinner>
<div class="container">
    <div class="row padding-bottom-10">
        <div class="col-md-10">
            <i style="color: #1f57ff; margin-top: 2px"
               pTooltip="Seleccione en primer lugar una playa para que pueda pintar sobre el mapa el punto deseado del
               lugar del incidente. Si quiere mover el punto simplemente pulse en el mapa en el nuevo lugar deseado. A
continuación pulse el botón para añadir los datos al formulario subyacente."
               class="pull-left fa fa-2x fa-info-circle"></i>
            <label class="info" style="font-weight: bolder; padding-top: 8px">Tras la playa (opcional) seleccione un punto para
                ubicar el incidente. Puede recolocar pinchando de nuevo sobre el lugar deseado.</label>
        </div>
        <div class="col-md-2">
            <input [disabled]="!selectedMpPoint" (click)="close()"
                   type="button"
                   [class]="!selectedMpPoint? 'esri-button esri-button--secondary esri-button--disabled'
                   : 'esri-button esri-button--secondary'"
                   value="Añadir"/>
        </div>
    </div>
    <div id="listPlayasViewer" class="maplist panel-side scroller esri-widget esri-hidden">
        <ul id="ulPlayaViewer">
            <li>Cargando&hellip;</li>
        </ul>
    </div>
    <div class="mapContainer" [style.height]="config.data.mapHeight">
        <div id="viewDivViewer" class="mapview"></div>
        <div id="legendDivViewer" class="card custom-widget"></div>
    </div>
</div>
