<!--Preloader-->
<div class="loader center-block" id="loader-fade">
    <svg width="100px" height="100px" viewBox="-3 -4 39 39"><polygon fill="#ffffff" stroke="#8cbb28" stroke-width="1" points="16,0 32,32 0,32"></polygon></svg>
</div>
<!-- Preloader ends-->
<div class="wrapper" id="wrapper">
    <!-- Header Starts -->
    <header class="top-menu">
        <!-- Navigation bar starts -->
        <nav class="navbar position-absolute sm-position-fixed top40px box-nav">
            <div class="container sm-width-100 white-background">
                <div class="row">
                    <div class="navbar-header green-background">
                        <a class="navbar-brand md-float-right" href="javascript:void(0)">
                            <img src="images/logo.png" alt="logo"> </a>
                    </div>

                    <ul class="nav navbar-nav navbar-right navlinks-outer collapse navbar-collapse">
                        <li class="nav-tab">
                            <a [routerLink]="['catalogo']" class="font-style-1 nav-item">catálogo</a>
                        </li>
                        <li class="nav-tab">
                            <a [routerLink]="['clasificacion']" class="font-style-1 nav-item ">grado de protección</a>
                        </li>
                        <li class="nav-tab">
                            <a [routerLink]="['seguridad']" class="font-style-1 nav-item ">seguridad y salvamento</a>
                        </li>
                        <li class="nav-tab">
                            <a [routerLink]="['informes']" class="font-style-1 nav-item">informes</a>
                        </li>
                        <li class="nav-tab">
                            <a [routerLink]="['contacto']" class="font-style-1 nav-item ">contáctanos</a>
                        </li>
                        <li class="nav-tab">
                            <a [routerLink]="['/']" (click)="userLogOut()" class="font-style-1 nav-item">log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Side-nav starts -->
        <div class="navbar-toggle-visible left">
            <!--side menu open button-->
            <div id="menu_bars" class="left"><span></span> <span></span> <span></span></div>
            <nav class="side-nav side-nav-left slide-nav static-nav">
                <a class="sidenav-logo" href="index.html"><img src="images/logo-5.png" alt="logo"></a>
                <div class="side-nav-inner-setting">
                    <ul class="side-nav-list font-style-1">
                        <li class="nav-item active clearfix">
                            <a [routerLink]="['catalogo']"><span>01.</span> catálogo</a>
                        </li>
                        <li class="clearfix">
                            <a [routerLink]="['clasificacion']"><span>02.</span> protección</a>
                        </li>
                        <li class="clearfix">
                            <a [routerLink]="['seguridad']"><span>03.</span> seguridad</a>
                        </li>
                        <li class="clearfix">
                            <a [routerLink]="['informes']"><span>04.</span> informes</a>
                        </li>
                        <li class="clearfix">
                            <a [routerLink]="['contacto']"><span>05.</span> contáctanos</a>
                        </li>
                        <li class="clearfix">
                            <a [routerLink]="['/']" (click)="userLogOut()"><span>06.</span> log out</a>
                        </li>
                    </ul>

                    <div class="bottom-share">
                        <ul class="social_icon">
                            <li><a href="javascript:void(0)"><i class="facebook fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="twitter fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="google fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="linkedin fa fa-linkedin"></i></a></li>
                        </ul>
                        <div class="nav-copyright">
                            <p class="font-style-1 text-color-grey-646464 font-weight-300 paragraph-15 margintop10px bottom10 text-capitalize">
                                © 2019 Gesplan S.A.</p>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Side-nav ends -->
    </header>
    <!-- Header Ends -->
    <!-- Header Section End -->
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer id="site-footer" class="padding_half footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-facebook"></i> </a></li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-twitter"></i> </a></li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-whatsapp"></i> </a></li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-google"></i> </a></li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-pinterest-p"></i> </a></li>
                        <li><a href="javascript:void(0)"><i class="wow slideInUp fa fa-instagram"></i> </a></li>
                    </ul>
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
                            class="copyrights">© 2019 Gesplan S.A.</span></p>
                    <p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
                            class="copyrights">Área de Innovación <a href="javascript:void(0)">y Desarrollo</a> </span>
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->
</div>
<!-- Wrapper ends -->
