<!-- 
<section class="blog-header blog-page-padding-top" data-parallax="scroll" data-image-src="assets/images/contact-bg.jpg">
  <div class="container">
    <div class="padding-top-30 padding-bottom-70">
      <h2 class="font-size-72px top20 bottom10 text-color-white text-center text-capitalize">modo de contacto</h2>
    </div>
  </div>
</section>

<section class="position-relative paddingtopbottom100px">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h6 class="paragraph-18 font-weight-700 green-color text-capitalize">get to know us</h6>
        <h2 class="text-color-grey-646464 font-weight-700 padding-bottom-20 bottom50 position-relative text-capitalize">agency based in tokyo</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 contact_address heading_space wow fadeInLeft" data-wow-delay="100ms">
        <div class="contact-table display-table">
          <div class="display-table-cell cells">
            <span class="icon-cell"><i class="fa fa-map-marker"></i></span>
          </div>
          <div class="display-table-cell cells">
            <h4 class="darkcolor">Visit Us</h4>
            <p class="text-color-grey-acacac">Tottenham Road, Japan.</p>
          </div>
        </div>
        <div class="contact-table display-table top15 bottom15">
          <div class="display-table-cell cells">
            <span class="icon-cell"><i class="fa fa-envelope-o"></i></span>
          </div>
          <div class="display-table-cell cells">
            <h4 class="darkcolor">Email Us</h4>
            <p><a href="mailto:web@info.com" class="text-color-grey-acacac">web@info.com</a> </p>
          </div>
        </div>
        <div class="contact-table display-table">
          <div class="display-table-cell cells">
            <span class="icon-cell"><i class="fa fa-mobile"></i></span>
          </div>
          <div class="display-table-cell cells">
            <h4 class="darkcolor">Call Us</h4>
            <p class="text-color-grey-acacac">(+01) 123 456 7890</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 heading_space wow fadeInRight" data-wow-delay="100ms">
        <form class="form-inline findus" id="contact-form" onSubmit="return false">
          <div class="row">
            <div class="col-md-12">
              <div id="result"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name"  name="name" id="name" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Website" name="website" id="website" required>
              </div>
            </div>
            <div class="col-md-12">
              <textarea placeholder="Comment"  name="message" id="message"></textarea>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
              <div class="paddingtopbottom10px">
                <ul class="company-social-icons">
                  <li class="company-social-icons-list">
                    <a href="javascript:void(0)" class="facebook-icon line-height-25px"> <i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="company-social-icons-list">
                    <a href="javascript:void(0)" class="twitter-icon line-height-25px"> <i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="company-social-icons-list">
                    <a href="javascript:void(0)" class="instagram-icon line-height-25px"> <i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="company-social-icons-list">
                    <a href="javascript:void(0)" class="dribble-icon line-height-25px"> <i class="fa fa-dribbble"></i></a>
                  </li>
                  <li class="company-social-icons-list">
                    <a href="javascript:void(0)" class="googleplus-icon line-height-25px"> <i class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <button type="submit" class="button blue active text-center width-100">Submit</button>
            </div>

          </div>
        </form>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="google-map" class="bg-light-gray" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</section> -->
