<!--Preloader-->
<div class="loader center-block" id="loader-fade">
	<svg width="100px" height="100px" viewBox="-3 -4 39 39">
		<polygon fill="#ffffff" stroke="#00bcd4" stroke-width="1" points="16,0 32,32 0,32"></polygon>
	</svg>
</div>
<!-- Preloader ends-->

<div class="wrapper" id="wrapper">
	<!-- Header Starts -->
	<header class="top-menu">
		<!-- Navigation Starts -->
		<nav class="navbar top40px white-background static-nav box-nav">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<button id="menu_bars" type="button" class="toggle-right navbar-toggle collapsed"
							data-toggle="collapse" data-target="#smallmenu" aria-expanded="false">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>

					<ul class="nav navbar-nav navbar-right navlinks-outer toggle collapse navbar-collapse" id="smallmenu">

						<li class="nav-tab">
						<img src="assets/images/logos/logo_bueno2.png">
						</li>
						<li class="nav-tab">
						<img src="assets/images/logos/blanco.jpg">
						</li>
						<li class="nav-tab">
							<a href="#home" class="font-style-1 nav-item scroll" >home</a>
						</li>
						<li class="nav-tab">
							<a href="#features" class="font-style-1 nav-item scroll">secciones</a>
						</li>
						<li class="nav-tab">
							<a class="font-style-1" [routerLink]="['/tecnicos']">login</a>
						</li>
<!--						<li class="nav-tab">-->
<!--							<a href="#contact" class="font-style-1 nav-item scroll">contáctanos</a>-->
<!--						</li>-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Header Ends -->

	<!-- Main Section Starts -->
	<section id="home" class="main-section z-index100">
		<h2 class="displaynone">heading</h2>

		<!--Main Slider-->
		<div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
			<div id="video-bg" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
				<ul>
					<!-- SLIDE -->
					<li data-index="rs-01" data-transition="fade" data-slotamount="default"
						data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"
						data-fsmasterspeed="1500" class="banner-overlay">
						<!-- MAIN IMAGE -->
						<img src="assets/video/thumbplaya.png" alt="" data-bgposition="center center" data-bgfit="cover"
							data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="7" data-no-retina>
						<div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute"
							data-videowidth="100%" data-videoheight="100%" data-videowebm="assets/video/intro1.mov"
							data-videomp4="assets/video/intro1.mov" data-videopreload="auto"
							data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9"
							data-autoplay="true" data-autoplayonlyfirsttime="false"></div>

						<!--If you need youtube video-->
						<!--<div class="rs-background-video-layer"
            data-ytid="hEkiWaEp03k"
            data-volume="mute"
            data-forcerewind="on"
            data-nextslideatend="true"
            data-autoplay="true"
            data-autoplayonlyfirsttime="true"
            data-videoloop="loopandnoslidestop"
            data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&autoplay=1&wmode=opaque&showinfo=0&rel=0&
            origin=http://server.local"></div>-->

						<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
							data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
							data-voffset="['-80','-80','-80','-80']" data-whitespace="nowrap"
							data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text"
							data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
							data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
							data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1400"
							data-splitin="none" data-splitout="none">
							<h1 class="font-style-2 text-color-white text-capitalize"> infoplayas canarias </h1>
						</div>
						<div class="tp-caption tp-resizeme text-color-white"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-10']"
							data-whitespace="nowrap" data-responsive_offset="on"
							data-width="['none','none','none','none']" data-type="text"
							data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
							data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1600"
							data-splitin="none" data-splitout="none">
							<h2 class="font-style-2 text-color-white text-capitalize sm-video-slider-text">asistencia
								técnica</h2>
						</div>
						<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
							data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
							data-voffset="['100','100','90','90']"
							data-textalign="['center','center','center','center']" data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
							data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;" data-start="180"
							data-splitin="none" data-splitout="none" data-responsive_offset="on">
							<a href="#design" class="scroll btn btn-blue btn-rounded btn-large btn-hvr-white">Saber
								más</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--Main Slider ends -->
		<div class="scrolldown">
			<a id="scroll" href="#features" class="scroll  scroll-design1"></a>
		</div>
	</section>
	<!-- Main Section ends -->
	<div id="features" class="transform-88px">
	</div>

	<!-- 4 boxes Starts  -->
	<div class="features-bg">
		<div class="container width-100">
			<div class="row">
				<div class="over-information">
					<div class="four-boxes max-width">
						<div class="information-icon">
							<div class="wordpress">
								<i class="fa fa-map-o"></i>
								<h5 class="font-style-1 font-weight-300 text-capitalize"><strong>catálogo</strong></h5>
								<p class="font-weight-100 bottom0" align="justify">
									En esta secci&oacute;n se mostrar&aacute; el mapa de las islas con la
									ubicaci&oacute;n de las playas, sus accesos, instalaciones y demas servicios que
									pueda ofrecer e incluir.
								</p>
							</div>
							<div class="joomla">
								<i class="fa fa-bars"></i>
								<h5 class="font-style-1 font-weight-300 text-capitalize"><strong>clasificación</strong></h5>
								<p class="font-weight-100" align="justify">
									<strong>Clasificaci&oacute;n y grado de protecci&oacute;n (fases I y II).</strong>
								</p>
								<br />
								<p class="font-weight-100" align="justify">
									<strong>Fase I</strong>: Identificaci&oacute;n de las playas y otras zonas de ba&ntilde;o
									mar&iacute;timas de su t&eacute;rmino municipal, que formar&aacute;n parte del
									Cat&aacute;logo General de Playas y otras Zonas de Ba&ntilde;o Mar&iacute;timas de
									Canarias.
								</p>
								<br />
								<p class="font-weight-100" align="justify">
									<strong>Fase II</strong>:Clasificaci&oacute;n de Playas y Zonas Mar&iacute;timas de Ba&ntilde;o en
									prohibidas, peligrosas o libres.
								</p>
							</div>
							<div class="drupal">
								<i class="fa fa-tablet"></i>
								<h5 class="font-style-1 font-weight-300 " align="justify"><strong>PSS</strong></h5>
								<p class="font-weight-100">
									<strong>Plan de seguridad y salvamento, antes fase III y IV.</strong>
								</p>
								<br />
								<p class="font-weight-100" align="justify">
									<strong>Fase III </strong>: Medios humanos del Servicio de Salvamento en Playas y Zonas
									Mar&iacute;timas de Ba&ntilde;o Peligrosas y Libres.
								</p>
								<br />
								<p class="font-weight-100" align="justify">
									<strong>Fase IV </strong>: Guia t&eacute;cnica, plantilla de seguridad y salvamento, planos, etc.
								</p>
							</div>
							<div class="css3">
								<i class="fa fa-sticky-note-o"></i>
								<h5 class="font-style-1 font-weight-300 text-capitalize"align="justify"><strong>informes</strong></h5>
								<p class="font-weight-100" align="justify">
									Informes cuatrimestrales.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 4 boxes ends -->
	<!-- Coffee Section Starts  -->
	<section class="features-bg padding-bottom-100px" id="design">
		<div class="information-data">
			<div class="container">
				<div class="row">
					<div
						class="col-md-6 col-sm-12 col-xs-12 sm-margin50pxtopbottom sm-marginbottom0 wow fadeInLeft equalheight">
						<div class="information-written-data md-top50 lg-top150">
							<h2
								class="font-style-1 font-weight-300 border-color-blue text-color-grey paddingleft25px no-margin">
								<span class="font-style-1-u ultra-light text-color-grey"> Medidas de </span> <br> <span
									class="blue-color">Salvamento</span> en Playas</h2>
							<p class="font-weight-100 line-height-30px text-color-grey-acacac">
								Asistencia t&eacute;cnica para la aplicaci&oacute;n de las Medidas de Salvamento
								y Seguridad en Playas y Otras Zonas de Ba&ntilde;o Mar&iacute;timas. Para cada una se
								dimensiona el equipamiento de material de
								acuerdo al grado de protecci&oacute;n de dicha playa, Sector o Zona de Ba&ntilde;o. Los
								grados de protecci&oacute;n var&iacute;an entre BAJO, MEDIO o ALTO dependiendo de la
								afluencia, longitud y superficie de las mismas.

							</p>
							<div class="information-data-button">
								<a href="http://www.gobiernodecanarias.org/boc/2018/152/002.html" target="blank"
									class="btn  btn-rounded btn-large">texto legal</a>

							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight equalheight">
						<div class="information-data-img">
							<div class="coffee-img">
								<img src="assets/images/salvavidas3.jpg" alt="coffee" class="img-responsive"
									data-no-retina>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--  Coffee Section ends -->
	<!-- Quotation ends -->

	<div class="sm-transform" id="contact"></div>
	<!-- Contact Us Starts -->
<!--	<section class="team-bg paddingtopbottom50px">
		<div class="information-data paddingtopbottom50px">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 sm-margin50pxbottom wow fadeInUp" data-wow-delay="400ms">
						<div class="contact-written-data wow fadeIn">
							<h2
								class="border-color-blue-7 text-color-grey paddingleft25px text-capitalize margin-top0 bottom0">
								<span class="green-color">Contacte </span> <br> con<span class="font-style-1">
									Nosotros</span></h2>
							<p class="line-height-30px font-weight-100 text-color-grey-acacac">
								Infoplayas Canarias es el portal de acceso que facilita el registro de los miembros de entidades locales que
								participar&aacute;n en la asistencia t&eacute;cnica para la clasificaci&oacute;n de playas y/o zonas de ba&ntilde;o
								mar&iacute;timas y para la elaboraci&oacute;n de los Planes de Seguridad y Salvamento. </p>
							<div class="contact-detail-list">
								<ul>
									<li>619 26th Street</li>
									<li class="padding-top-12">Norfolk, USA</li>
									<li class="padding-top-12">+1 (757) 2 847 911</li>
									<li class="padding-top-12"><a href="javascript:void(0)">infoplayascanarias@gesplan.es</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="400ms">
						<div class="company-contact-form">
							<h2 class="font-style-1 text-color-grey no-margin text-capitalize"> escr&iacute;banos </h2>
							<form class="contact-form-outer" [formGroup]="ContactForm"
								(ngSubmit)="onSubmit(ContactForm)">
								<div class="col-sm-12" id="result"></div>
								<div class="col-md-6">
									<div class="contact-form-textfield padding-bottom-30">
										<input type="text" placeholder="First Name:" class="form-control "
											formControlName="first_name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-form-textfield padding-bottom-30">
										<input type="text" placeholder="Last Name:" class="form-control "
											formControlName="last_name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-form-textfield padding-bottom-30">
										<input type="email" placeholder="Email:" class="form-control "
											formControlName="email">
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-form-textfield padding-bottom-30">
										<input type="tel" placeholder="Phone:" class="form-control "
											formControlName="phone">
									</div>
								</div>
								<div class="col-md-12">
									<div class="contact-form-textfield padding-bottom-30">
										<textarea placeholder="Message" class="form-control "
											formControlName="message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<button type="submit" class="button blue active text-center width-100">Enviar
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- Contact Us ends -->
	<!-- Footer -->
	<footer id="site-footer" class="padding_half footer-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center">
					<p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
							class="copyrights">© 2019 Gesplan S.A.</span></p>
					<p class="font-style-1 paragraph-18 wow fadeInUp font-weight-100 margintop10px bottom10"><span
							class="copyrights">&Aacute;rea de Innovaci&oacute;n <a href="javascript:void(0)">y Desarrollo</a>
						</span>
					</p>

				</div>
			</div>
		</div>
	</footer>
	<!--Footer ends-->
</div>
<!-- Wrapper ends -->
